[2016-03-08 16:36] robnagler opened #1 "Configure ipython on apa19"
Need to configure ipython on apa19 for multiple users.

[2016-03-08 16:47] robnagler opened #2 "Switch from Fedora Atomic to Fedora or CentOS"
Fedora Atomic is too difficult to manage. With the use of containers for all deployment, there's little point to having a system that has transactional OS updates. Andy S. pointed out that the fact that we are deploying with containers makes it possible to have transactional updates. This doesn't work for the containers themselves anyway.

[2016-03-08 21:36] bruhwile opened #3 "install COMSOL multiphysics"
We need to decide which server or VM.
License info will be communicated privately.

[2016-03-11 16:14] robnagler opened #4 "Debian installer for sirepo service"
BNL uses Debian Jessie (8.1). Need installer for full service

[2016-03-11 16:18] robnagler opened #5 "chown fails inside docker container using AUFS"
Debian uses aufs as the docker storage device by default. Need to use devicemapper, because user ids do not match on shared volumes and chowns have to happen sometimes. Need to reinstall docker with devicemapper using loopback (usually vagrant or test machines) unless already installed with devicemapper with real block devices (production).

[2016-03-11 17:06] robnagler commented on #5
Fixed 8bf78b7696ab2b8f299f927d93202ea664e6c0e3

[2016-03-11 17:06] #5 closed

[2016-03-11 17:09] robnagler commented on #4
@mrakitin Please try:

[code]

This probably will fail with error messages that will tell you to clear the docker installation. Please follow the instructions, because I want to see if they make sense.

You will eventually need to partition the disk to create block devices for Docker's storage. However, for now, we can use the loopback device.

[2016-03-11 21:57] robnagler commented on #4
Fixed 8bf78b7696ab2b8f299f927d93202ea664e6c0e3. Working on BNL cluster.

[2016-03-11 21:57] #4 closed

[2016-03-12 04:01] robnagler opened #6 "large ipython notebook saves fail"
@cchall writes:
So I discovered today while using an ipython notebook on the blade that the notebook will fail to save if it becomes too large. I'm not sure exactly what the size limit is or where the failure point occurs, but I was in the middle of  analyzing 1000, 1MB files when I discovered the failure.

While I can restart the kernel and clear all output and then make a save this is a little u

[2016-03-12 04:17] robnagler commented on #6
I bumped the front end's limit to 100mb. It was at default (1mb). @cchall please try again, and reply with status. Thanks.

There may still be a problem. See jupyter/notebook#650 for a discussion of limits in Tornado.
I'm not sure what Jupyter defaults to, but it might be 100mb.

[2016-03-12 07:13] cchall commented on #6
My current notebook now appears to be saving properly, though it is <100 MB. I'll try to set up a test with larger notebooks and see what happens.

I can also now upload files with size > 1 MB. However, I get a message:

"""
Cannot upload file

Cannot upload file (>25 MB) '99mb.txt'
""""

When I try a file >25 MB.

[2016-03-12 14:00] robnagler commented on #6
This is a hard limit in Jupyter 4.x. See
[this discussion](https://github.com/jupyter/notebook/pull/623#issuecomment-149890586) for the
[current workaround](https://github.com/jupyter/jupyter-js-filebrowser/search?utf8=%E2%9C%93&q=%22_max_upload_size_mb%22).
They are [waiting till 5.0](https://github.com/jupyter/notebook/issues/96#issuecomment-149585809)
to fix it.

[2016-03-12 14:00] #6 closed

[2016-03-14 17:38] robnagler opened #7 "Install mrakitin/SRW on alpha"
Install mrakitin/SRW@b4023e15663f83a00870982ebf69309def6d6529 on alpha

[2016-03-14 17:39] robnagler commented on #7
Installed fix radiasoft/containers@1908a453204c15755db1480f5a49ff59e9324546 on alpha

[2016-03-14 17:39] #7 closed

[2016-03-14 17:42] robnagler opened #8 "Push radiasoft/sirepo:20160314.172251 on alpha to beta"
@mrakitin please verify alpha works to your satisfaction. We'll push to beta once you give ok.

[2016-03-14 17:52] robnagler opened #9 "Switch from copy.com to owncloud"
Need to setup owncloud server and copy files from copy.com

[2016-03-14 17:56] robnagler opened #10 "Automate sirepo alpha builds"
Sirepo image builds happen nightly. Ideally, push to alpha automatically. Eventually, run test suite.

Would like to have build machine use Salt to manage the builds and pushes. This may add too
much complexity right now.

Don't want automatic checkin builds, because state may be inconsistent on build (e.g. SRW not updated simultaneously). Nightly seems good compromise.

[2016-03-14 19:26] mrakitin commented on #8
Hi @robnagler, alpha looks good for me. I will be updating double-slit examples soon, as well as be adding crystal element, but we can make another release for these changes.

By the way, are you sure the version on alpha is 20160314.172251? I see this info in the source of the main page:
[code]

[2016-03-14 19:38] robnagler commented on #8
Great. I'll push to beta.

[2016-03-14 19:45] mrakitin commented on #10
+1 for nightly builds in case we have commits.

[2016-03-14 19:45] robnagler commented on #8
Pushed to beta

[2016-03-14 19:45] #8 closed

[2016-03-15 22:38] bruhwile commented on #9
Lets schedule this for a day soon after April 5, if possible.

[2016-03-18 17:51] robnagler opened #11 "apa11 yum update dkms fails"
It's inevitable that zfs fails to mount after a yum update.

I think the machine is just in a funny state. All the other servers work fine.

We want to move to Fedora so this would be one of the machines that moves, since it is really a production server now.

[2016-03-18 17:54] robnagler opened #12 "sirepo restart fails on beta"
The beta server fails to start with:

[code]

This check needs to be more flexible and/or loop in production. Celery is running on another server(s). When the front end reboots, rabbitmq disconnects from all clients including celery. Celery has to have time to reconnect and sirepo needs to wait for it.

[2016-03-22 15:54] robnagler opened #13 "Docker not using all cores"
A cluster at BNL fails to use all cores when run in Docker. Running outside Docker runs normally.

We have isolated it to running N instances of SRW inside a single container. If you run 2 instances (i=2) with 4 slaves (n=4, mpiexec -n 4), 8 cores are used. However, if your run, say, i=4 and n=4, it only uses 8 cores.

Adding @mrakitin

[2016-03-22 21:50] robnagler commented on #13
From @mrakitin:

I think I got something interesting with parallel execution. When I use the following command there are 12 cores allocated:

[code]

When I tried cpus starting from 0 that didn’t work. Probably CPU #0 is somewhat “special”…

[2016-03-22 21:56] robnagler commented on #13
Maxim, would you try this to see if we can get all 32 cores used with one MPI master:

[code]

I'd like to test your "cpu0" hypothesis with:

[code]

And:

[code]

I'm skeptical `i=6`, because we saw different behavior with `i` divisible by 3.

[2016-03-23 18:07] mrakitin commented on #13
Hi Rob,

Here are the requested results:
1) i=1, n=32: ![i 1_n 32](https://cloud.githubusercontent.com/assets/13209176/13995481/c221e342-f0ff-11e5-8d3a-224267dbb07c.png)

2) i=4, n=8 on cores 1 to 71: ![i 4_n 8_1-71](https://cloud.githubusercontent.com/assets/13209176/13995483/c227eed6-f0ff-11e5-828d-5676feb488c4.png)
i=4, n=8 on cores 0 to 71: ![i 4_n 8_0-71](https://cloud.githubusercontent.com/a

[2016-03-23 19:37] robnagler commented on #13
What are the core assignments? I find that more meaningful, because we can
know exactly which cores doubled up. With htop, all we know is that the
cores are busy, but they could be busy with 1 or 2 processes. Some of this
may be MPI.

So that's interesting. (1) is a good sign. Let's try different values of n
where i=1, e.g. 17, 37, 48, 72.

Rob

[2016-03-25 19:21] mrakitin commented on #13
@robnagler, I updated my previous comment with the requested `ps` output.

Here are the results with fixed i=1:
- n=17:
[code]

- n=37:
[code]

- n=48:
[code]

- n=72:
[code]

[2016-03-25 19:38] mrakitin commented on #13
Parallelization/distribution of the processes over the cores looks fine without docker.

[2016-03-26 12:59] robnagler commented on #13
What is the allocation with i=2 and n=16 and cpuset=0-35, 1-35, 17-71,
37-71?

[2016-03-28 16:16] mrakitin commented on #13
Hi Rob,

For i=2 and n=16 I got the following results:

- cpuset=0-35:
[code]

- cpuset=1-35:
[code]

- cpuset=17-71:
[code]

- cpuset=37-71:
[code]

Thanks,
Maksim

[2016-03-28 21:23] robnagler commented on #13
Grasping at straws. If you run this:

[code]

What does this say?

[code]

Note that I added `ppid` to the list. I want to see how the jobs are distributed based on the mpi "world".

[2016-03-28 21:50] mrakitin commented on #13
Here is the output:
[code]

[2016-03-29 15:04] robnagler commented on #13
Those didn't overlap. Bumping to n=36. If they don't overlap, try i=3. Thanks!

[code]

I changed this line a bit to make it easier to read:

[code]

[2016-03-29 15:22] mrakitin commented on #13
Hi Rob,

- i=2, n=36:
[code]

- i=3, n=36:
[code]

[2016-03-29 15:31] mrakitin commented on #13
My concern isn't about n=16, but about n=8 for i=3:
[code]
Only 16 cores are occupied in this case instead of 24.

[2016-03-29 15:48] robnagler commented on #13
When there are two slaves on one core, they have two different MPI masters.
The fact that this doesn't happen outside a container is very strange.
Inside a container, two mpi masters should use the same resource allocation
as outside. The container restricts processes, but it shouldn't cause
allocations to be different.

I have't seen this behavior on our cluster, but then we don't have as many
co

[2016-03-30 14:24] mrakitin commented on #13
How many cores do you have? Probably you can test with i=3 and n=2 or 3?

[2016-03-30 15:31] robnagler commented on #13
Good call! I can reproduce it here in an interactive docker script:

[code]

Here's a test I'm using for this specific example:

[code]

If it works, it'll print OK, else the number of processes (including the grep and mpiexec).

I'll experiment more.

[2016-03-30 16:52] robnagler commented on #13
I was able to reproduce simply, and it doesn't seem to have anything to do with docker. See robnagler/mpi-play#1

[2016-03-31 21:42] #13 closed

[2016-03-31 21:49] robnagler opened #14 "rebuild sirepo image to include mpi --bind-to"

[2016-03-31 21:52] robnagler commented on #14
Pushed to alpha and config change (SIREPO_MPI_SLAVES) setup on alpha.

[2016-03-31 21:52] #14 closed

[2016-03-31 22:17] robnagler commented on #13
FTR, the difference between Debian native and container was caused by OpenMPI 1.6 (native) vs 1.8 (container), which changed the default to bind-to core.

[2016-03-31 22:32] mrakitin commented on #13
I started 6 independent partially-coherent calculations in 6 different browsers, and they look to work very efficiently, e.g. occupy 6*8=48 cores:
[code]
Thanks for fixing the issue Rob!

[2016-04-01 17:25] robnagler opened #15 "Debian systemctl status sirepo is incorrect"
Services are starting, but systemctl is reporting that they aren't running.

[2016-04-07 21:39] robnagler opened #16 "Update *.radiasoft.org"

[2016-04-07 21:39] robnagler commented on #16
Updated.

[2016-04-07 21:39] #16 closed

[2016-04-08 16:17] robnagler opened #17 "clean up backups for owncloud"
Needed to move off some personal stuff that was clogging the backups so we have space for owncloud

[2016-04-08 16:17] #17 closed

[2016-04-10 19:22] robnagler commented on #9
Server is running. @bruhwile Please copy the files

[2016-04-10 19:29] robnagler opened #18 "/var/lib/owncloud/{apps,config} have wrong permissions"
See docker-library/owncloud#69

[2016-04-12 15:17] robnagler opened #19 "owncloud http redirect to https"

[2016-04-15 19:52] cchall opened #20 "Warp Import Error on Jupyter Server"
Trying to run Warp in an IPython notebook on the Jupyter server on the blade by running the standard Warp import command:
`from warp import *`

Results in the error:

                   [--pnumb PNUMB]
__main__.py: error: unrecognized arguments: -f /home/vagrant/.local/share/jupyter/runtime/kernel-5336e0f5-6a55-47c3-ba4f-1a37654a5290.json

Trying to import Warp through warp_init_tools gives a simi

[2016-04-15 23:44] robnagler commented on #20
Worked around with:

[code]

Fix will be tracked with radiasoft/containers#24

[2016-04-15 23:44] #20 closed

[2016-04-16 16:31] bruhwile commented on #9
Done.

[2016-04-16 16:31] #9 closed

[2016-04-19 16:49] bruhwile opened #21 "install COMSOL Multiphysics"
Need to identify a machine.
The license requires node locking.
Interaction with the code involves a GUI, which implies tunneling X through ssh.
We also want to execute physics extensions, like Shadow3, which implies use of a Docker container.
We need to explore use of the Application Builder technology, which requires browser-based access.

[2016-04-25 20:47] robnagler opened #22 "kill radtrack updaters"
The SSL cert is expiring today, and we aren't renewing. Updaters will get confused so need to kill them.

[2016-04-25 20:48] robnagler commented on #22
Installed an update to have the updater remove itself from launchctl and then its plist. Updaters stopped running around 12:30p MDT.

[2016-04-25 20:48] #22 closed

[2016-04-27 14:35] robnagler opened #23 "Shadow3 Travis and PyPI automation"
Automate build, test, and deployment of [srio/shadow3](https://github.com/srio/shadow3).

[2016-05-03 03:29] bruhwile commented on #21
I believe this has been completed.

[2016-05-03 03:29] #21 closed

[2016-05-03 03:29] #3 closed

[2016-05-03 03:32] bruhwile opened #24 "latest version of Synergia is required for Jupyter on the blades"
I need to run Synergia via Jupyter hub on the blades.
Recent fixes made by the Synergia development team are required.

The last commit that must be included:
commit 8d8761f3597a668b7d2ecc6bd770640006412af6
Author: Eric G. Stern <egstern@fnal.gov>
Date:   Fri Mar 25 17:17:11 2016 -0500

[2016-05-03 13:27] robnagler commented on #24
We run a special branch of Chef. Do you know if the latest is required? I
had to fix a few things to get it to compile.

[2016-05-03 14:09] bruhwile commented on #24
I strongly suspect that Chef has been changed.

Here's the input from the Synergia team:
#---
A summary of the relevant patches are below:

commit 8d8761f3597a668b7d2ecc6bd770640006412af6
Author: Eric G. Stern <egstern@fnal.gov>
Date:   Fri Mar 25 17:17:11 2016 -0500

    calculate bassetti-erskine space charge in lab frame results in less
spurious longitudinal motion

commit 7a05313e5954ddf617e77

[2016-05-03 14:46] robnagler commented on #24
I'll figure it out.

[2016-05-03 18:13] robnagler commented on #24
Here are the options.

In your vagrant box:

[code]

[2016-05-03 18:15] bruhwile commented on #24
I don't see the options...

[2016-05-03 18:20] robnagler commented on #24
Sorry, {}-return accidentally pressed. I'm writing it now :)

[2016-05-03 19:53] robnagler commented on #24
The prototype server has been upgraded. Let me know if the synergia works.

[2016-05-06 21:05] robnagler opened #25 "jupyter server "tables not installed""
@bruhwile wrote:

 uploaded the following IPython Notebook:
https://github.com/radiasoft/rssynergia/blob/master/rssynergia/spacecharge_tests/sc_drift_expansion.ipynb

​In the 2nd cell, I got the error that 'tables' could not be imported.

I opened a new terminal window in Jupyter and typed

This executed correctly and then the 2nd cell of the NB executed without error.

I then tried to execute the

[2016-05-06 21:56] robnagler commented on #25
Here's what I'd recommend to put in your notebooks for now:

[code]

This will only work for people who are using pyenv or virtualenv, but that should be most people. There won't be any output if the import succeeds, and it will output something in a failure. It doesn't throw an exception in that case, but this is good enough until we have persistence on the jupyterserver.

[2016-05-06 21:56] #25 closed

[2016-05-18 22:46] robnagler opened #26 "Add hide/show areas to workshops page on WP site"
Be able to hide and show the list of participants etc.

[2016-05-18 22:47] robnagler opened #27 "Configure MPI cluster"
We need a system for configuring MPI cluster from jupyter

[2016-05-18 22:50] robnagler commented on #27
For @cchall

[2016-05-18 22:50] robnagler commented on #26
For @sdwebb

[2016-05-18 22:51] robnagler commented on #24
@bruhwile I'm waiting to close this.

[2016-05-18 22:52] robnagler commented on #2
Switched to Fedora 23

[2016-05-18 22:52] #2 closed

[2016-05-18 22:52] robnagler commented on #1
Using JupyterHub

[2016-05-18 22:52] #1 closed

[2016-05-18 23:19] robnagler opened #28 "Add README with overview to radiasoft/index"
Need an overview of all repos. There are many. :)

Also may want general documentation in radiasoft/index, too.

[2016-05-19 03:36] robnagler commented on #27
Tentative plan:

* stop the user's jupyter server
* docker commit container
* export to local docker repo
* use gridengine to manage jobs/nodes
* design qsub submit file that pulls container and runs inside

[2016-05-19 18:30] robnagler commented on #27
I think we should configure apa25 (rebuild necessary) and apa19 (comsol) as slaves and apa20 (jupyter) as MPI slaves.

It's not clear gridengine is needed right now. What's more important is to get the machinery in place to execute MPI.

To that end, what we need is to commit a beamsim-jupyter container that contains an sshd. That private and public key would be in the committed image along with a

[2016-05-20 22:07] robnagler commented on #27
Look into parallel Ipython notebooks. Possible to start server and issue MPI with a simple container commit? Maybe execute a cell directly from a notebook

[2016-05-20 22:08] robnagler opened #29 "Add templates to JupyterHub"
Each repo directory might have a "template.ipynb" which would be loaded when new notebook was created. @ncook862

[2016-05-20 22:31] robnagler commented on #29
Notify @ncook882

[2016-05-21 00:09] robnagler opened #30 "Backup JupyterHub Postgres"
The postgres db isn't crucial as the user data are all in NFS. However, we should have a backup of the db on a regular basis. Has to be run on the JupyterHub machine, because it is writing locally.

[2016-05-21 15:24] robnagler opened #31 "JupyterHub: No way to remove container from UI"
If you don't remove the container, you keep on getting the old version of the code

[2016-06-09 20:46] bruhwile commented on #24
I confirmed that modifications to the 2D Basetti-Erskine solver are working correctly.

[2016-06-09 20:46] #24 closed

[2016-06-13 15:46] robnagler commented on #27
This is basically working

[2016-06-13 15:46] #27 closed

[2016-06-13 15:50] #19 closed

[2016-06-15 20:13] bruhwile opened #32 "document jupyter.radiasoft.org usage in a wiki"
Use the wiki associated with the 'containers' repo.

[2016-06-15 20:33] bruhwile commented on #32
Done.

[2016-06-15 20:33] #32 closed

[2016-06-22 19:04] cchall opened #33 "Cannot open files through the browser on jupyter.radiasoft.org"
Files ending in .py and .txt can no longer be opened through the file browser on JupyterHub. The files can still be selected and renamed, if the extension is changed the file can be opened as normal.

[2016-06-22 19:36] robnagler commented on #33
I'm having versioning issues in github. Our patches (like for this one) need to be in, but their latest changes need to be out. Builds take a while so probably won't be done before 4 or 5.

[2016-06-22 21:23] robnagler commented on #33
This is fixed but you have to let me know when I can restart your container. Unfortunately, you can't do this yourself.

[2016-07-25 22:38] #33 closed

[2016-07-25 22:40] #26 closed

[2016-07-25 22:40] #23 closed

[2016-07-25 22:42] robnagler opened #34 "radiasoft/beamsim builds fail probably due to CentOS 6 docker"
Not sure what's going on apa1, but the builds are failing with rpmdb errors. Need to create a Fedora 2X build system. For now will build on my VM.

[2016-08-05 16:24] robnagler opened #35 "filter spam on radiasoft-misc"
We don't get that much spam to radiasoft-misc (maybe one a day). I did a very quick check and half of it would not be flagged even by a loose spam filter.

I'll leave this ticket here, but it is not a high priority

[2016-08-25 15:59] bruhwile opened #36 "Synergia needs to be updated on the Jupyter server"
Two essential updates have been added to Synergia:
1) explicitly linear space charge forces (some weeks ago)
2) corrected implementation of nonlinear 'elliptic' magnet for the IOTA ring (yesterday)

We need these on the Jupyter server for the IOPTICS project.

The 'chef' library has definitely been updated.
Here's a comment from the development team:

The NonLinearPropagators.cc file lives in the

[2016-08-25 16:06] bruhwile opened #37 "Synergia2 'devel' branch doesn't build inside RadiaSoft containers"
The official Synergia build system doesn't work inside our containers.

I know some sort of fix is being used to make this work for Synergia installation when the containers are built.

RadiaSoft personnel need to be able to clone and build the latest version of Synergia2.

Is the fix documented somewhere?
Even better, can we communicate with the Synergia development team to make the fix unnecessa

[2016-08-25 20:13] robnagler commented on #37
The build system works. You can say, for example,

curl radia.run | bash -s code synergia

This is the same used inside the container.  I'm building a new container
now.

[2016-08-25 21:29] bruhwile commented on #37
Thanks, Rob.

I verified the command works. This is great.

It appears that source and build files are put into /var/tmp/.../ and then get cleaned up afterwards.

I created this issue, because I wanted to git clone the Synergia repository and obtain a development environment. The Synergia build process failed before even the main source directories were pulled from the git repository, so I couldn'

[2016-08-25 21:29] #37 closed

[2016-08-26 00:46] robnagler commented on #37
Just to follow up:

It appears that source and build files are put into /var/tmp/.../ and then get cleaned up afterwards.

I created this issue, because I wanted to git clone the Synergia repository and obtain a development environment. The Synergia build process failed before even the main source directories were pulled from the git repository, so I couldn't even see the source code, much less co

[2016-08-26 01:04] robnagler commented on #36
Images installed on all nodes in Jupyter cluster. I removed the running containers, because they seemed idle.

[2016-08-26 01:04] #36 closed

[2016-08-29 23:13] robnagler opened #38 "Install comsol server on apa19"
Installed comsol in multi-computer mode on apa19

[2016-08-29 23:13] #38 closed

[2016-08-30 01:10] robnagler opened #39 "Install comsol proxy on apa11"

[2016-08-30 01:12] robnagler commented on #39
Proxies through via https. Seems to work fine. COMSOL doesn't make assumptions about host part of the URI.

Config is committed in radiasoft/salt-conf and biviosoftware/pkgs. I didn't test the salt config as we're switching to Ansible, but it documents it well enough. (I had shut down the salt-master to free up space on build server....)

[2016-08-30 01:12] #39 closed

[2016-08-30 15:44] robnagler opened #40 "timeouts on comsol websockets"
@bruhwile writes:

[2016-08-30 15:57] robnagler commented on #40
Fix biviosoftware/pkgs@cfb07e6 - set proxy timeouts. Let's see how it goes

[2016-08-30 15:57] #40 closed

[2016-08-31 19:26] elventear opened #41 "Protect repositories on GitHub against history rewriting"
At the very least protect against force pushing. See:

https://help.github.com/articles/about-protected-branches/

[2016-08-31 19:29] bruhwile commented on #41
Looks like a good idea.
David

[2016-09-02 13:29] robnagler opened #42 "git tutorial"
Prepare and give tutorial on git topics for the team. This includes expanding the [Git wiki](../wiki/Git).
- GitHub comments/subjects (maybe
- reflog, what's that?
- rebase/merge?
- resets (commits, unstaged, etc.)
- stash
- what's the RadiaSoft workflow look like

[2016-09-02 13:30] robnagler commented on #34
This appears to have been a memory issue on apa1. Stopped all containers and rebooted. Works now.

[2016-09-02 13:30] #34 closed

[2016-09-02 13:32] robnagler commented on #18
They haven't answered this request from April so there's nothing we can do, really. It's fine the way it is.

[2016-09-02 13:32] #18 closed

[2016-09-02 13:33] robnagler commented on #12
Fixed by running rabbit in a separate image which is not restarted when Sirepo is released.

[2016-09-02 13:33] #12 closed

[2016-09-13 22:02] robnagler opened #43 "robots.txt for sirepo sites"
We are getting found by robots which may be causing user creations.

[2016-09-13 22:12] bruhwiler opened #44 "file download option on Jupyter server is broken"
If you select the square to the left of a filename in the Jupyter server, a new UI pops up with options:
  Duplicate Rename Move Download <trash logo>

See screenshot:
![image](https://cloud.githubusercontent.com/assets/3825435/18493254/c3f276a4-79cc-11e6-82c2-181ca4f534bb.png)

Selecting the 'Download' button should download the file, but instead you see the error message here:
![image](https://c

[2016-09-14 21:18] robnagler opened #45 "Automate jupyterhub push"
We need a "one button" solution to the jupyterhub push, because it goes to three machines, and we would really like our internal users to do the pushes.

The problem is that updates often require changing version numbers/commits, e.g. radiasoft/containers@e412694, which I forgot to update before running the build. It would be cool if there was a Q&A (does warp need updating? Synergia? etc.) at the

[2016-09-14 21:19] robnagler opened #46 "Operating procedures"
Need to document the various procedures for pushing to various systems including manual system checks.

[2016-09-17 16:26] bruhwile opened #47 "Jupyter containers need to support matplotlib-compatible video encoders"
For example FFMPEG  https://ffmpeg.org/
and/or other matplotlib-compatible encoders

This capability is already required for the Jupyter notebooks we are delivering to a customer.

[2016-09-20 13:19] robnagler commented on #47
@elventear Would you figure out how to install ffmpeg? I think it would probably make sense to have available in general, since we use the beamsim container in other contexts.

[2016-09-21 23:06] #43 closed

[2016-09-24 23:04] elventear commented on #47
What is the priority of this?

[2016-09-25 00:47] bruhwile commented on #47
It's a feature request.

I don't know how to rank compared to your other activities.

David

[2016-09-25 03:34] robnagler commented on #47
SOS2016 takes priority. That has to be stable mid-week. After that we can
do this.

[2016-09-25 16:56] robnagler opened #48 "secret host names?"
In order to help deter attacks, it made sense to me to give host names secret names. However, I'm beginning to rethink this strategy.

Let's say we have salt.radiasoft.net, which is our salt master. That's a very important host. Would it matter that the host be secret? What if it's IP address was known? The host has to be secured so external probes of any port won't be vulnerable. Therefore, simpl

[2016-09-27 19:09] bruhwile opened #49 "add rsbeams to PyPI"
https://github.com/radiasoft/rsbeams

We have users of the Jupyter server, who need this library for use of our IPython notebooks.
We need them to be able to do 'pip install' and 'pip install --upgrade'

[2016-09-27 19:10] bruhwile opened #50 "add rssynergia to PyPI"
https://github.com/radiasoft/rssynergia

We have users of the Jupyter server, who need this library for use of our IPython notebooks.
We need them to be able to do 'pip install' and 'pip install --upgrade'

[2016-09-27 19:57] ncook882 opened #51 "Add matplotlib .mplstyle files to container for Jupyter server"
We currently have a set of .mplstyle files for making plots with a standardized appearance.

https://github.com/radiasoft/rsbeams/tree/master/rsbeams/matplotlib

At this point, users need to clone rsbeams and copy the files to their own folder. Instead, it would be nice if the container automatically copied the `stylelib` folder and its contents into the `/home/vagrant/.config/matplotlib/` folder,

[2016-10-04 03:50] elventear commented on #47
The [RPM Fusion](http://rpmfusion.org/Configuration) repo, has ffmpeg available for Fedora 21. This is the suggested source for RHEL and Fedora by the ffmpeg project.

[2016-10-04 08:00] robnagler commented on #47
Sounds good. When you add the repo make sure it is not enabled by default
so we don't accidentally pull other packages from RPM Fusion.
Alternatively, we can grab a specific version and copy it to
depot.radiasoft.

[2016-10-04 09:15] robnagler opened #52 "Simulation space strategy"
What types, how much, etc.? Emailed internally for discussion.

[2016-10-04 21:28] #47 closed

[2016-10-05 08:31] robnagler commented on #47
@elventear Looks good. Did you merge?

[2016-10-05 08:58] robnagler opened #53 "Set timezone to UCT on servers"
Logs are currently being cycled at 12a MDT. Some things happen on UCT (release/rpm versions and db output) and other things are command line (backup). While it's annoying to think in UCT, it's going to be the only realistic way to synchronize everything as $TZ isn't always set properly.

[2016-10-05 13:48] elventear commented on #47
Yes.

[2016-10-07 14:22] robnagler opened #54 "Jupyter environment sharing"
We have a task for IOPTICS which requires us to do:

We want the ability for a user to commit their Jupyter environment and restart or share it, like we do with a Sirepo simulation. There is a lot of complexity here, but the basic idea is to commit the docker container, squirrel away a directory or all of ~/jupyter and give it a name. JupyterHub would have a list of these archives that could be re

[2016-10-07 16:37] robnagler opened #55 "COMSOL license sharing"
COMSOL keeps licenses bound to users for a while. I don't know if there's a timeout, but we will definitely have to timeout the server user cache in order to avoid license issues. We'll need a server to keep track of licenses, monitoring the connection, and administer

[2016-10-23 15:25] bruhwile opened #56 "add rslinac and dependencies to beamsim container"
We need rslinac running on our Jupyter server and it also needs to be available to Sirepo

bill time to HIPOLIN project

[2016-10-26 17:43] moellep opened #57 "comsol.radiasoft.org 404 error"
comsol.radiasoft.org was returning 404 errors for all pages. Restarting nginx on apa11 corrected the problem. I didn't see anything related errors in the nginx error logs. It looks like the problem also occurred on Oct 7.

comsol.radiasoft.org 68.168.180.89 - - [26/Oct/2016:01:22:08 -0600] "GET / HTTP/1.1" 404 0 "-" "-" "-"

[2016-11-07 14:51] robnagler opened #58 "pinger for beta.sirepo.com, jupyter.radiasoft.org, and owncloud"

[2016-11-07 16:04] robnagler commented on #58
Installed

[2016-11-07 16:04] #58 closed

[2016-11-07 16:05] robnagler commented on #52
Done for now. /scratch has 8TB

[2016-11-07 16:05] #52 closed

[2016-11-07 16:06] robnagler commented on #31
This appears to be fixed in the latest build of JupyterHub.

[2016-11-07 16:06] #31 closed

[2016-11-07 16:07] robnagler commented on #42
@elventear can we close this, i.e. did you put what you wrote in a wiki?

[2016-11-07 17:09] elventear commented on #42
I wrote the Wiki entries, I think it was good start. Did not cover the workflow area.

[2016-11-07 17:55] #42 closed

[2016-11-07 23:06] robnagler commented on #57
Had not found again. This time restart of nginx didn't do anything (or enough?). On apa11:

[code]

So restarted comsol on apa19 and that seems to have fixed it.

[2016-11-07 23:51] robnagler commented on #51
@ncook882 Do you want rsbeams to be installed automatically with the container?

Is the copy command exactly this?

[code]

Not clear from the text if the copy is stylelib or stylelib/*.

[2016-11-08 00:10] ncook882 commented on #51
`stylelib/*` should be correct. You want to copy all of the .mplstyle files into the matplotlib config folder.

[2016-11-08 13:53] robnagler commented on #56
@bruhwile how would rslinac be used in Sirepo now? Would it be sufficient to add it to the Jupyter container (for now)?

[2016-11-08 13:59] robnagler commented on #51
Added in [2fc9f9084fdf0b9c767f19a5cd1bb82b2c8ee7d8](https://github.com/radiasoft/jupyter.radiasoft.org/blob/2fc9f9084fdf0b9c767f19a5cd1bb82b2c8ee7d8/radia-run.sh#L33) to [radiasoft/jupyter.radiasoft.org](https://github.com/radiasoft/jupyter.radiasoft.org), which allows dynamic container customization through a curl installer. [Please read the README](https://github.com/radiasoft/jupyter.radiasoft.

[2016-11-08 13:59] #51 closed

[2016-11-08 14:01] robnagler commented on #50
Added rssynergia to jupyter.radiasoft.org customizer (using pip install through git) so there's less of a need for this. We do want it on PyPI, but I would prefer to wait on this work until we have external users.

You can always install this way:

[code]

[2016-11-08 14:02] robnagler commented on #49
See discussion in #50.

[2016-11-08 14:10] robnagler commented on #56
@elventear I'm getting a failure when I try to pip install rslinac. Here's the first one:

[code]

I'm assuming this is due to an update in the code. Perhaps we need to mark a commit as being beta(?).

[2016-11-08 14:14] robnagler opened #59 "github install channels"
Right now we aren't tagging commits in GitHub. Even if we tagged them with versions, it would be uninteresting, because we really want a consistent install channel.

I don't really have a solution for this right now, just noting that we are installing from master on GitHub unless we know that master is unreliable. With the addition of dynamic customizations to all Jupyter containers, we will proba

[2016-11-08 14:44] bruhwile commented on #56
Early in 2017, I'll ask @moellep to implement a prototype Sirepo UI for rslinac.
So this task is not urgent.
Yes, for now it's sufficient to simply install it in the container, or even just to have pip install working.

[2016-11-08 14:48] bruhwile commented on #50
Having pip install work via git+git is fine for now.
I suggest labeling this issue as low priority and putting it off for a while.

[2016-11-08 14:48] bruhwile commented on #49
Having pip install work via git+git is fine for now.
I suggest labeling this issue as low priority and putting it off for a while.

[2016-11-08 15:04] elventear commented on #56
`rslinac_rename` is the stable branch.

[2016-11-08 16:15] robnagler opened #60 "Updating jupyter"
I'm pushing jupyterhub and beamsim-jupyter images to apa20. Server restart will be fast.

[2016-11-08 16:39] robnagler commented on #60
Server is up. I had a problem upgrading the user database. It failed so instead of debugging I recreated it. There's nothing really of substance in the user database, because we don't grant privileges dynamically.

[2016-11-08 16:39] #60 closed

[2016-11-08 18:29] elventear commented on #59
I think we should use branches, each distinct branch represents a channel, and there is a code-flow model where code is promoted between channel using git merges.

In this model new code would flow upstream (alpha->beta->prod) manually when we believe the code has received the amount of scrutiny necessary to be promoted to the next channel. Fixes (bugs) would follow downstream.

This is a modified

[2016-11-09 02:13] robnagler opened #61 "jupyter synergia pre3 not loading correct library"
[code]

[2016-11-09 02:20] robnagler commented on #61
[code]

[2016-11-09 21:56] robnagler commented on #61
There's an odd loading problem that didn't show up until I built the last container:

[code]

Note that it is loading foundation.so via synergia-pre3, but then it is loading libsynergia_foundation.so from 2.7.10.

I looked at RUNPATH (RPATH) of the *.so files, and they don't point to 2.7.10 so not sure where that's coming from. It might have to do some symlinks to 2.7.10 pyenv, but it doesn't quit

[2016-11-09 22:03] robnagler commented on #61
Setting a separate pyenv-virtualenv (pre3) with pyenv global (2.7.9) seems to work. I think the model of using the pyenv globally may be problematic.

I also think synergia needs to install in lib/synergia not in lib/ in the virtualenv. This was lazy code of mine to fix the install. I'll build new images with these ideas, and see what happens.

[2016-11-09 23:47] robnagler commented on #61
Just FYI. I've been getting strange download issues. (I think @elventear is having similar problems.) This is causing significant delays on debugging, since building radiasoft/beamsim takes hours...  Building synergia takes a least a half hour.

[2016-11-10 14:03] robnagler opened #62 "alpha release to jupyter"
Rebuilding python2, beamsim, jupyterhub, and beamsim-jupyter images. When done, I'll push to alpha server

[2016-11-10 14:13] robnagler commented on #61
Building clean virtualenvs works. The new structure is 2.7.10 is just a pyenv. py2 and synergia-pre3 are virtualenvs built off 2.7.10.

Synergia is now installed in <venv>/lib/synergia/*.

The SYNERGIA2DIR and variables are set by a pyenv exec hook. However, when jupyter starts, it sets the variables via the exec hook so they are inherited by terminals and notebooks, because they are children of t

[2016-11-10 17:26] robnagler commented on #61
@ncook82 and @cchall please try out the jupyter server. It works for me.

[2016-11-10 17:28] robnagler commented on #62
Pulled radiasoft/jupyterhub:20161110.171551 and radiasoft/beamsim-jupyter:20161110.160844 to apa20. Servers restarted.

[2016-11-10 17:28] #62 closed

[2016-11-10 17:36] cchall commented on #61
Appears to be working for me. I can now import synergia while using the
synergia-pre3 kernel.

On Thu, Nov 10, 2016 at 10:26 AM, Rob Nagler <notifications@github.com>
wrote:

[2016-11-18 21:21] elventear commented on #57
Happened again today. @moellep restarted nginx and it did not help. Restarted Comsol afterwards and things were working again.

[2016-11-28 18:20] robnagler commented on #57
What happens when you curl to the server on apa19?

[2016-12-06 20:37] cchall opened #63 "Define the environment variable RPN_DEFNS on Jupyter"
For elegant to run there should be an RPN_DEFNS environment variable pointing to the defns.rpn file. This is easy to do but would probably be nice if it were set by default for any new Jupyter users so they don't have to mess with it.

[2016-12-08 22:26] bruhwile commented on #44
This has been reported by another user.

The work around is to right click (or the Mac equivalent) on the name of the file you want to download, and then select 'Save link as...' (or the Mac equivalent).

[2016-12-09 21:02] bruhwile commented on #44
My suggested work around doesn't actually work. A user tells me:
"The workaround I’ve found is to go into the file and then do “File->Download”, but of course this will only work for text files."

This needs to become a high priority issue as of December 14.

[2016-12-14 16:01] robnagler commented on #63
@cchall what should the value be? I normally set it to "/dev/null", but that's just to avoid the error. Do you have std set of defs?

[2016-12-14 16:47] cchall commented on #63
The RPN_DEFNS variable should point to the location of defns.rpn file. The
defns.rpn file can be downloaded from:
http://www.aps.anl.gov/Accelerator_Systems_Division/Accelerator_Operations_Physics/software.shtml#elegant
(it's a separate download from the elegant source).

On Wed, Dec 14, 2016 at 9:01 AM, Rob Nagler <notifications@github.com>
wrote:

[2016-12-14 17:24] robnagler commented on #63
Sorry, I was under the impression that file might be customized by the user. We'll add it to the environment. @elventear there's a copy in sirepo. Probably should be done [like synergia](https://github.com/radiasoft/containers/blob/5db92571902b8d7eb633a4febcb43587605f1ae1/radiasoft/beamsim/codes/synergia.sh#L130).

[2016-12-15 20:56] #61 closed

[2016-12-15 20:57] #55 closed

[2016-12-15 20:59] #48 closed

[2016-12-16 07:37] elventear commented on #63
Fixed by radiasoft/containers@41fee6a.

[2016-12-22 16:42] robnagler opened #64 "convert SRW to use PyPI"
Make new copy of repo, organized like a python project.

[2016-12-29 19:11] robnagler opened #65 "Automate rs* installs in jupyter"
We should install all rs* codes in jupyter via @radiasoft/jupyter.radiasoft.org when container starts.

[code]

[2016-12-30 00:56] robnagler commented on #54
Fix 5db92571902b8d7eb633a4febcb43587605f1ae1
Now configured via personal jupyter.radiasoft.org repo.
Also, latest images restarts container when "Start Server" is pressed.

[2016-12-30 00:56] robnagler commented on #65
Duplicates #56

[2016-12-30 00:56] #65 closed

[2016-12-30 00:58] robnagler commented on #45
We are no longer running multimachine so not needed.

[2016-12-30 00:58] #45 closed

[2016-12-30 00:59] robnagler commented on #29
Supported by @radiasoft/jupyter.radiasoft.org and personal repos. Need to add templates.

[2016-12-30 00:59] #29 closed

[2016-12-30 19:00] robnagler commented on #56
Should make sure that we do an pip install --upgrade --nodeps so that we pull in the latest without upgrading dependencies. The full incantation is:

[code]

The second line ensures non-existent dependencies are installed.

[2016-12-30 23:37] robnagler opened #66 "Replying to an @radiasoft.net list causes gmail to use @bivio.biz address"
@bruhwile

When I reply to messages sent to a list, my return address always defaults to my @bivio.biz email.

I'd like it to always default to @radiasoft.net if possible.

[2017-01-13 03:09] robnagler opened #67 "Exploit: Command execution on Ansible controller from host"
https://www.computest.nl/advisories/CT-2017-0109_Ansible.txt

I don't think this is a real exploit for us, but it is good to know about. I don't like configuring host ids with Ansible anyway. Makes sure SELinux is setup right, too.

[2017-01-19 20:56] cchall opened #68 "Synergia ImportError on Jupyter Server"
Trying to import the synergia module in an IPython notebook on the Jupyter server currently gives an ImportError.
Importing works when using an IPython shell.
Could be due to notebooks running on the 'jupyter' pyenv.

[2017-01-19 21:08] elventear commented on #68
@cchall there are three Kernels (environments) under Jupyter:

- Python 2
- Python 2 synergia-pre3
- Python 3

Right now synergia is only available on the second, AFAIK. Python 3 exists because a recent upgrade to Jupyter forced us to use Python 3, but it does not come with any scientific codes pre-loaded.

Which one are you trying to use with Synergia?

[2017-01-19 21:21] cchall commented on #68
@elventear I'm currently using the Python 2 kernel.

My understanding was that there should be one environment with the 'standard' development branch of Synergia installed (this is what we've used in the past). A new environment (Python 2 synergia-pre3) was added to test the synergia-pre3 branch that has not been rolled out for official release and is currently somewhat unstable.

[2017-01-19 21:53] elventear commented on #68
Synergia is installed and accessed through the `PYTHONPATH` which is set to `/home/vagrant/.pyenv/versions/jupyter/lib/synergia`. For some reason it doesn't seem to work within the Jupyter notebook, I will have to investigate more.

I find it weird that they root synergia python mode installs actually to this path `/home/vagrant/.pyenv/versions/py2/lib/synergia/synergia/__init__.pyc`; thus the nec

[2017-01-19 22:22] elventear commented on #68
I see the issue now. The `PYTHONPATH` is being set by `penv` once when Jupyter starts, since Jupyter runs only with Python 3. The other Kernels will only inherit that setting.

[2017-01-19 23:11] robnagler commented on #68
I thought we had a fix for that with the kernel config.

[2017-01-19 23:11] robnagler commented on #68
It would be ideal also if we didn't show the Python 3 environment, because none of the beamsim codes are installed in py3.

[2017-01-20 22:37] #68 closed

[2017-02-02 15:50] robnagler opened #69 "Remove contact form"
It's just a spam magnet.

Consider spam filtering on radiasoft-misc

[2017-02-07 21:23] robnagler opened #70 "Test Scaleway servers"
[scaleway.com](http://scaleway.com) will be coming out with high performance servers for low cost.

Test servers:

- [ ] single node
- [ ] multi-node
- [ ] file system
- [ ] move alpha-jupyter.radiasoft.org
- [ ] move alpha.sirepo.com

[2017-02-08 22:41] cchall opened #71 "rswarp.utilities.run_warp failing on jupyter server"
The run run_warp module in rswarp.utilities no longer seems to be working the Jupyter server recently.

run_warp.RunWarp is supposed to provide a wrapper that will take care of pathing for Warp output files and ensure that any output is not accidentally overwritten. It launches Warp using subprocess.Popen.

It looks like it could be something with the virtual enviroment. Trying to execute a Warp s

[2017-02-08 22:42] cchall opened #72 "installing rswarp on jupyter server"
Whenever I restart my instance of the jupyter server the rswarp module can no longer be found and needs to be reinstalled.

This does not seem to be occurring for others such as rssynergia.

[2017-02-08 22:52] elventear commented on #71
Can you provide an example to reproduce the error?

[2017-02-08 23:12] robnagler commented on #71
Here's what I get:

[code]

[2017-02-08 23:14] cchall commented on #71
This error occurs in the notebook:
heat_engine_sims/sow_01/task_1/notebooks/analysis_notebook.ipynb

On Wed, Feb 8, 2017 at 4:12 PM, Rob Nagler <notifications@github.com> wrote:

[2017-02-08 23:17] robnagler commented on #71
@cchall do you still need to clear sys.argv manually per radiasoft/containers#24?

[2017-02-08 23:26] cchall commented on #71
Yes, that still needs to occur when calling 'from warp import *' from a
notebook.

On Wed, Feb 8, 2017 at 4:17 PM, Rob Nagler <notifications@github.com> wrote:

[2017-02-09 19:21] elventear commented on #71
@cchall could you try again?

[2017-02-09 19:27] elventear commented on #72
@cchall `rswarp`should be installed now. Please try again.

[2017-02-09 19:53] cchall commented on #71
@elventear I tried to restart my server but it is failing to start and just returns '500 Internal Server Error' after a minute.

[2017-02-09 20:55] elventear commented on #71
@cchall I have fixed that issue. Please try again.

[2017-02-09 21:14] cchall commented on #71
@elventear After restarting my server I am still unable to use run_warp.RunWarp.

[2017-02-09 21:15] cchall commented on #72
Upon restarting my container rswarp still is not installed when I try to import it in python or ipython.

[2017-02-09 21:36] elventear commented on #71
@cchall last fix included auto-updates for `rsbeams` and `rssynergia`. I have added `rswarp`. Can you try again?

[2017-02-09 22:02] cchall commented on #71
@elventear rswarp is now loading properly after restart. run_warp.RunWarp behavior has not changed.

[2017-02-09 22:30] elventear commented on #71
I have a solution for the problem [here](https://github.com/radiasoft/rswarp/pull/2).

[2017-02-09 22:42] robnagler commented on #71
I merged this change. @cchall please restart your container and again

[2017-02-09 22:53] cchall commented on #71
run_warp.RunWarp now works for me in serial and parallel. (I added @elventear solution to the parallel run command)

[2017-02-10 03:14] #71 closed

[2017-02-10 03:15] #72 closed

[2017-02-10 05:48] robnagler opened #73 "beamsim-jupyter: unable to start jupyter directly from docker"
This should work:

[code]

And a terminal will work, but notebooks fail (even new ones) with:

[code]

[2017-02-13 19:36] robnagler opened #74 "setup a 64 core jupyter system"
This could be a multi-node system. Will be used by @cchall for synergia so works well with MPI.

1gb/core is minimum.

1TB disk. Does not need to be backed up.

[2017-02-13 19:39] robnagler opened #75 "migrate juypterhub/home to separate partition"
Use /scratch partition (rename) for jupyterhub/home. Migration needs to be seamless so will have to script. There will be no backups of jupyterhub/home.

[2017-02-13 19:40] robnagler opened #76 "Add load monitor on jupyterhub"
Log cpu use. Could be simple script or maybe a tool.

[2017-02-13 19:41] robnagler commented on #10
We are building automatically now. We aren't deploying automatically, and probably won't need to for some time.

[2017-02-13 19:41] #10 closed

[2017-02-13 19:42] elventear commented on #76
[Vector](http://vectoross.io) provides a nice dashboard for realtime inspection. Does not have any alarming features.

[2017-02-13 19:42] robnagler commented on #28
We're not using so wait for it to come up for now.

[2017-02-13 19:42] #28 closed

[2017-02-13 19:43] robnagler commented on #49
pip is sufficient, and we'll build beamsim automatically soon enough.

[2017-02-13 19:43] #49 closed

[2017-02-13 19:44] robnagler commented on #50
pip is sufficient, and we'll build beamsim automatically soon enough.

[2017-02-13 19:44] #50 closed

[2017-02-13 21:40] robnagler commented on #70
Turns out that the pricing was not bare metal. Scaleway's best bare metal config is:

* €23.99/Month
* 8 Dedicated x86 64bit Cores
* 32GB Memory
* 50GB SSD Disk
* 250GB Direct SSD Disk
* 1 Flexible public IPv4
* 800Mbit/s Internet bandwidth
* 5Gbit/s Internal bandwidth

This is still very good. Rackspace OnMetal is:

* OnMetal General Purpose Small
* 32G
* 1x6
* 2x800GB hot-swappable SSDs configur

[2017-02-16 22:45] ncook882 opened #77 "Proper procedure for handling updates to Synergia (and other codes) in the Jupyter container"
Although Synergia3.0 has not yet been released, the development team continues to put out incremental updates to the development branch of Synergia2. Some of these updates have made significant changes to the API. For example, the bunch constructor was recently [updated](https://cdcvs.fnal.gov/redmine/projects/synergia2/repository/revisions/077b99d7edf3f80033adb81ddbb755784e2dea54), making some of

[2017-02-16 22:50] robnagler commented on #77
Excellent. I was just thinking about this. :)

radiasoft/devops#56, radiasoft/containers#65, and radiasoft/containers#64 will address this in part. In order to initiate the builds of the docker image, we would probably require a checkin, since Travis has to bind its webhooks to a single repository.

What we should do is have a test script in rssynergia that will be run with the beamsim build that

[2017-02-18 13:59] robnagler commented on #59
I think we have to rely on Docker images for now.

[2017-02-18 13:59] #59 closed

[2017-02-22 00:56] bruhwile opened #78 "create a new Python code repository 'rszgoubi'"
Please create a new public repository named 'rszgoubi'

It should follow the standard RadiaSoft structure as defined here
https://github.com/radiasoft/pykern/wiki/CreatePythonProject

[2017-02-22 09:16] bruhwile commented on #78
Done.

[2017-02-22 09:16] #78 closed

[2017-02-25 04:14] #56 closed

[2017-02-25 04:19] elventear commented on #56
@bruhwile `rslinac` is available with the latest code on the `beamsim` container. But when I did the porting originally, I never really tested the functionality of the code. Before someone tries to actually use it, I would like get some sample inputs that I could use to test from Python.

[2017-02-25 17:23] bruhwile commented on #56
Thanks @elventear

@moellep is able to run Hellweg on Windows with the Embarcadero GUI and he is tasked with creating a prototype Sirepo interfaced to the containerized version of `rslinac` .

During the course of his work, @moellep will compare your compiled/containerized code with the original Windows-only build.

[2017-02-25 19:09] elventear commented on #56
What I was trying to say is that the logic that sets up a simulation is not abstracted from the GUI code. So I had to replicate or adapt similar code to run a simulation for Python; although I did my best, I have no way to know if it works or if there is something missing.

[2017-02-25 19:13] bruhwile commented on #56
Understood.

Please make @moellep aware of your Python-based API as he will need that
for his work.

If @moellep discovers bugs, then please assist him if necessary in working
them out.

Thanks!

[2017-03-02 22:37] robnagler opened #79 "Test letsencrypt.org"
Free TLS certs

[2017-03-02 22:38] robnagler opened #80 "Ensure $TZ is set"
Read this through and understand:

https://blog.packagecloud.io/eng/2017/02/21/set-environment-variable-save-thousands-of-system-calls/

[2017-03-05 17:41] bruhwile opened #81 "activate new email forum: radiasoft-3dplasmasources"
I've created a new email list to support a pending SciDAC4 proposal.
3dplasmasources@radiasoft.net

It needs to be activated.
Thanks.

[2017-03-05 20:58] robnagler commented on #81
Done

[2017-03-05 20:58] #81 closed

[2017-03-08 21:35] robnagler opened #82 "backup copy failed"
bdu3 second disk failed. Running badblocks just to see. Might be enclosure or disk.

[code]

[2017-03-09 03:20] robnagler commented on #82
badblocks found 433 and not nearly done. Ordered another dis.

[2017-03-09 03:20] #82 closed

[2017-03-13 16:35] robnagler commented on #70
The servers work, but there's a significant issue with the way disks work.

There have been issues with the way the disks work. The bare metal servers have two types of partitions: Local SSD (LSSD) and Direct SSD (DSSD). LSSD is actually a network disk [NBD](https://nbd.sourceforge.io/) (link doesn't work right now), which is not a local disk, despite the name. DSSD is a local disk.

C2M instances

[2017-03-14 15:29] robnagler opened #83 "CentOS 7 firewalld vs docker"
[Gory details](https://github.com/docker/docker/issues/16137) about this problem.

firewalld abstracts the interface to iptables so you have to punch through firewalld by adding rules directly to iptables with [something like](https://www.server-world.info/en/note?os=CentOS_7&p=firewalld&f=2):

[code]

Many people shutoff firewalld, and configure iptables directly. Since all of our services will r

[2017-03-14 15:35] robnagler commented on #70
I'm giving up on Scaleway. It's super cheap, but it's taken me days to struggle against their network configuration. They don't support VPCs (AWS) or a backnet (Linode). You have to go their their masqueraded IPs. MPI does not like this at all.

@elventear suggested to use swarm, but this makes the firewall configuration (#83) much more complicated, because overlay networks require even more iptab

[2017-03-14 15:35] #70 closed

[2017-03-14 16:15] robnagler opened #84 "VPS cost"
When we consider creating a cluster in the cloud, it's important to think about cost. Scaleway's C2M servers are $.0034/core-hour with 2GB/core. That's unbelievable. Here are some other numbers for on demand, non-preemptible servers:

* AWS $.044 (c4.8xlarge, 36 cores)
* GCP $0.03 (custom node, sustained use one month)
* Linode $.02 (6 core/node, 2g/core), $.03 (8 core/node, 3g/core)
* Softlayer $

[2017-03-16 12:34] robnagler opened #85 "jupyter server is out of disk"
caused the sirepo server to crash

[2017-03-16 17:17] robnagler commented on #85
Disk is freed up for all users and migration is almost complete so closing here.

[2017-03-16 17:17] #85 closed

[2017-03-16 17:30] robnagler opened #86 "Disk quotas in Docker"
Docker does not support disk quotas for mounted volumes, just the root partition. (We should probably limit that at some point, but the issue on JupyterHub has been in the volumes.)

Linux supports quotas per Linux user. We could solve the JuypterHub issue (radiasoft/devops#85) by binding GitHub users to Linux users. This would create some issues within the container, which might be solvable throu

[2017-03-16 21:52] #75 closed

[2017-03-18 15:51] robnagler commented on #74
Scaleway failed due to NATted nets. Synergia performance on Linode 4 cores x 16 nodes was awful so went with 4 independent 20 core nodes. Linode seems to scale cores at 75% with SRW and more poorly with Synergia.

Blades still are the fastest.

[2017-03-18 16:14] robnagler commented on #74
Ran some tests on the blade, and seeing 75% scaling there, too. SRW uses MPI rank 0 as a control so I exclude this node from the seconds per particle (s/p) calculations. You can see in both cases as the number of cores goes up, the efficiency drops by 75% after about 5 cores. From 1 to 5 cores, 100% efficiency.

Linode 20c (Linode 80G) on SSD (docker root):
1c 5p 134s 27s/p
20c 57p 131s 43s/p
10c

[2017-03-18 17:31] bruhwile commented on #74
Great results - thanks!
I think it would be good to follow some standard protocols for testing
parallel performance.

"Weak scaling" is used to understand how the computing and communication
system is performing, under the assumption that there are no fundamental
problems with the software:
1) minimize any initial reading of files
2) turn off all file writing that isn't absolutely essential
3) kee

[2017-03-18 20:46] robnagler commented on #74
I got a bit more scientific and wrote [srw-timer.sh](https://github.com/radiasoft/devops/blob/7033d783bcb59dd4302335b8083697eaa65ebe6a/bin/srw-timer.sh), which makes it easier to do runs. The `s/p/w` result discounts the one core dedicated to coordination. That's maybe not "fair" for small

SRW is efficient so once you get to three macro particles, you can get a good sense of scaling performance.

[2017-03-18 23:16] robnagler commented on #74
Ran on AWS, which shows linear behavior up to 16 cores, but then goes non-linear. I'm running more tests and will report here.

### iad1 c3.8xlarge E5-2680 v2 @ 2.80GHz 58gb

1c **3p** 71s 24s/p/w
5c 12p 72s 24s/p/w
9c 24p 73s 24s/p/w
16c 45p 78s 26s/p/w
18c 51p 100s 33s/p/w
20c 57p 102s 34s/p/w
22c 63p 107s 36s/p/w
24c 69p 115s 38s/p/w
26c 75p 122s 41s/p/w
28c 81p 124s 41s/p/w
30c 87p 135s 45s/p/

[2017-03-19 04:44] robnagler commented on #74
There's a significant difference between c3 and c4 architecture, even though the price is lower for c4.8xlarge ($1.591/h) vs c3.8xlarge ($1.68/h).

After 16 cores, things get non-linear. It might be related to SRW.

### iad1 c3.8xlarge 32 x E5-2680 v2 @ 2.80GHz 58gb

1c **10p** 204s 20s/p/w
4c 30p 200s 20s/p/w
8c 70p 206s 21s/p/w
12c 110p 208s 21s/p/w
16c 150p 216s 22s/p/w
20c 190p 296s 30s/p/w
24

[2017-03-19 18:47] cchall commented on #74
Synergia timings on iad2:

With 102400 macroparticles and space charge:

Cores: 1   Time/Turn: 43.3210576
Cores: 2   Time/Turn: 22.474906
Cores: 3   Time/Turn: 15.6230822
Cores: 4   Time/Turn: 12.0003902
Cores: 8   Time/Turn: 6.5445916
Cores: 12   Time/Turn: 4.773387
Cores: 16   Time/Turn: 3.9343014
Cores: 20   Time/Turn: 5.3149844
Cores: 24   Time/Turn: 5.0195374
Cores: 28   Time/Turn: 4.7463082

[2017-03-19 19:49] robnagler commented on #74
Similar performance elbow at 16 cores. Now I'm really curious.

[2017-03-19 23:29] robnagler commented on #74
Getting better at deploying. Took less than 5 minutes once the account was setup on SoftLayer to deploy sjc1. There's less of an elbow on this one.

### sjc1 32 x E5-2683 v3 @ 2.00GHz, 132GB

1c **5p** 131s 26s/p/w
5c 20p 124s 25s/p/w
9c 40p 127s 25s/p/w
14c 65p 131s 26s/p/w
15c 70p 131s 26s/p/w
16c 75p 139s 28s/p/w
17c 80p 135s 27s/p/w
18c 85p 142s 28s/p/w
20c 95p 137s 27s/p/w
24c 115p 152s 30s/p

[2017-03-20 00:25] robnagler commented on #74
@cchall ran simultaneous synergia runs on iad2 with very little loss. I did the same for sjc1, iad2, and dfw13. iad2 did better than the others as the number of cores in use increased, but on the lower core runs, iad2 was less efficient than the non-concurrent runs with same cores.

sjc1 is a E5-2683 v3 with 14 cores per socket.  dfw13 is a E5-2680 v2 with 10 cores per socket. iad2 runs on a [secr

[2017-03-20 00:41] bruhwile commented on #74
Thanks @cchall and @robnagler for the weak scaling data.

Assuming no underlying hardware complications, Amdahl's law is a useful guess for when/why the efficiency rolls over.  See e.g. https://en.wikipedia.org/wiki/Amdahl's_law There are more sophisticated formulations, but it's useful to just think about what percentage of the work has not been parallelized.

For example, the time MPI takes to i

[2017-03-20 18:28] robnagler commented on #74
Amdahl's law applies. What isn't clear to me is why the the results are so different at times between providers. AWS allocates its vCPUs efficiently with two concurrent runs, whereas SoftLayer and Linode don't. Even more curious to me that it gets maximum efficiency out of its hyperthreading.

SoftLayer has a smoother elbow which starts later (24 cores vs 16). Yet, it thrashes with two concurrent

[2017-03-20 18:51] robnagler commented on #74
I've added Google Compute Platform (GCP) into the mix. It seems to have the best overall performance (see graph). We don't know what processors it's running, because it just lists "Xeon CPU @ 2.3GHz".

![VPS performance (SRW Ex 10) 3/20/2017](https://cloud.githubusercontent.com/assets/5495179/24115800/27b1ed42-0d6a-11e7-9d88-3b6f594b406e.png)
[Source: Google Spreadsheet](https://docs.google.com/sp

[2017-03-20 23:35] cchall commented on #74
Tried starting up 3 concurrent synergia runs of 16 cores each on dsm1. With
one run time/turn was ~4.5 s, with two concurrent time/turn ~6 s, with the
third going concurrently all three ground to a halt and nothing completed a
single turn after 3+ minutes. Killing the third job promptly restored
progress of the other two.

On Mon, Mar 20, 2017 at 12:51 PM, Rob Nagler <notifications@github.com>
wro

[2017-03-21 03:33] robnagler opened #87 "docker storage opt dm.basesize doesn't work"
It shows up in docker info, but it doesn't seem to change the base size of the image.

Running out of space in beamsim-jupyter because it is 7GB to start with. Default size is 10GB which isn't enough. Tried setting to 20G.

[2017-03-21 16:22] ncook882 opened #88 "Rebuild Synergia on jupyter with fixed dipole feature"
We have a temporary fix to remove the unwanted dipole fringe field effects in Synergia. Please update the build in Jupyter as soon as possible. The fix is as follows:

1. Change line 55 in build/chef-libs/beamline/include/Edge.h from
#define NO_FIXED_ENTRY_ANGLE true
to
#define NO_FIXED_ENTRY_ANGLE false

2. Rebuild and install in the chef-libs directory.

[2017-03-21 16:29] robnagler commented on #88
This isn't checked in?

[2017-03-21 17:12] ncook882 commented on #88
No it's not currently a part of the Synergia source code, if that's what you mean. It needs to be added in by hand to the local system files.

[2017-03-21 17:23] robnagler commented on #88
Is this for both devel and pre3?

[2017-03-21 17:52] bruhwile commented on #88
Please put this issue on hold until further notice. I'll offer guidance
ASAP.

[2017-03-21 18:13] robnagler commented on #54
Need to think about what "archiving a VM" means. I think it would be better to say archiving a simulation.

[2017-03-22 13:36] robnagler opened #89 "can't create notebook in mpi_coordinator"
No error messages that are obvious.

[2017-03-22 13:46] robnagler commented on #74
FTR, running two concurrent jobs on an AWS c4.8xlarge with synergia and no space charge doesn't seem promising.

### c4.8xlarge parallel

1c 58s 58s/c
2c 107s 53s/c
3c 109s 36s/c
4c 117s 29s/c
5c 120s 24s/c
6c 125s 20s/c
7c 127s 18s/c
8c 134s 16s/c
9c 142s 15s/c
10c 145s 14s/c
11c 165s 15s/c
12c 175s 14s/c
13c 211s 16s/c
14c 223s 15s/c
15c 246s 16s/c
16c 259s 16s/c
17c 284s 16s/c
18c 294s 16s/c

1

[2017-03-22 16:48] #89 closed

[2017-03-24 13:23] robnagler commented on #74
Full data for m620

### m620

1c 5p 104s 21s/p/w
2c 5p 101s 20s/p/w
3c 10p 101s 20s/p/w
4c 15p 103s 21s/p/w
5c 20p 105s 21s/p/w
6c 25p 107s 21s/p/w
7c 30p 112s 22s/p/w
8c 35p 113s 23s/p/w
9c 40p 117s 23s/p/w
10c 45p 116s 23s/p/w
11c 50p 119s 24s/p/w
12c 55p 117s 23s/p/w
13c 60p 117s 23s/p/w
14c 65p 117s 23s/p/w
15c 70p 119s 24s/p/w
16c 75p 119s 24s/p/w
17c 80p 129s 26s/p/w
18c 85p 133s 27s/p/w
19c

[2017-03-27 17:02] robnagler commented on #74
@cchall are you satisfied with your setup?

[2017-03-27 18:53] cchall commented on #74
Yep, seems to be working well.

On Mon, Mar 27, 2017 at 11:02 AM, Rob Nagler <notifications@github.com>
wrote:

[2017-03-29 20:03] robnagler commented on #74
@cchall iad2 is up.

I also ran some tests:

### r4.4xlarge:  Intel(R) Xeon(R) CPU E5-2686 v4 @ 2.30GHz, 122GB

1c 5p 90s 18s/p/w
2c 5p 83s 17s/p/w
3c 10p 84s 17s/p/w
4c 15p 84s 17s/p/w
5c 20p 84s 17s/p/w
6c 25p 85s 17s/p/w
7c 30p 89s 18s/p/w
8c 35p 87s 17s/p/w
9c 40p 117s 23s/p/w
10c 45p 119s 24s/p/w
11c 50p 129s 26s/p/w
12c 55p 124s 25s/p/w
13c 60p 137s 27s/p/w
14c 65p 147s 29s/p/w
15c 70p 150s

[2017-04-03 14:01] robnagler commented on #54
We have a preliminary version of "sim" so I'll call it good for now.

[2017-04-03 14:01] #54 closed

[2017-04-03 14:02] #74 closed

[2017-04-04 20:38] robnagler opened #90 "Update to Fedora 25 in Vagrant"
Make it easy to upgrade a virtual machine by linking to netrc, gitconfig, etc. so user doesn't have to do much to install.

[2017-04-04 20:39] robnagler commented on #79
Need to install https://certbot.eff.org/#centos6-nginx

[2017-04-20 18:30] robnagler commented on #79
Here's a funny test:

[code]

This is for Fedora 21. We are bound to have people with older, non-updated systems than that using our services. Normal SSL certs are cheap enough.

[2017-04-20 18:30] #79 closed

[2017-04-26 22:57] robnagler commented on #44
this button is gone so closing.

[2017-04-26 22:57] #44 closed

[2017-04-27 13:30] robnagler opened #91 "container build uninstall not right"
The egg should be uninstalled and so need to uninstall before installing.

[code]

[2017-05-04 16:46] #84 closed

[2017-05-17 15:12] robnagler opened #92 "rebuild beamsim for synergia"
Per @bruhwiler's request.

[2017-05-17 15:16] robnagler opened #93 "continue building synergia pre3?"
Do we expect to need to keep building synergia-pre3? @bruhwiler @cchall @bruhwiler @ncook882

[2017-05-18 15:00] robnagler commented on #92
Done. You can restart your containers to get the latest.

[code]

[2017-05-18 15:00] #92 closed

[2017-05-18 22:13] robnagler commented on #77
The automated builds seem to alleviate some of the pain here. Should we close this Issue?

[2017-05-19 02:18] ncook882 commented on #77
I think it's OK to close this for now, but perhaps we should create new issues related to generating test scripts for rswarp and rssynergia as suggested above.

[2017-05-19 02:22] robnagler commented on #77
We could create those in rswarp and rssynergia.  There's still radiasoft/containers#3: test codes in build. If we could run "python setup.py test" for a few codes, it would be a good thing. :)

[2017-05-19 02:22] #77 closed

[2017-05-20 07:05] bruhwiler commented on #93
Nobody is using it, so let's stop supporting it.

[2017-05-20 07:05] #93 closed

[2017-05-20 18:30] robnagler opened #94 "remove pre3 from jupyter container"
will speed up builds significantly.

[2017-05-23 23:16] robnagler commented on #94
Fix radiasoft/container-beamsim-jupyter@eef2a74e5521207195c0652299cf656aafcc30b1

[2017-05-23 23:16] #94 closed

[2017-06-04 15:16] bruhwiler opened #95 "build Warp/PICSAR on Edison at NERSC"
This is important but is not funded by any active projects, so charge time to Science Support or Tech Support.

Warp can use a new highly-optimized physics kernel called PICSAR. The primary goal is to build it on Cori, but the first step is to get it working on Edison.

The Warp source is here (as we all know):
https://bitbucket.org/berkeleylab/warp

The PICSAR home page is here:
https://picsar.ne

[2017-06-04 15:19] bruhwiler opened #96 "build Warp/PICSAR in the beamsim/Vagrant container"
This is important but is not funded by any active projects, so charge time to Science Support or Tech Support.

Warp can use a new highly-optimized physics kernel called PICSAR. The primary goal is to build it on Cori, but we have a collaborator at the University of Strathclyde who wants to the ability to work with Warp on his Windows computer inside a VM.

The Warp source is here (as we all know)

[2017-06-04 15:21] bruhwiler opened #97 "build Warp/PICSAR on Cori at NERSC"
This is important but is not funded by any active projects, so charge time to Science Support or Tech Support.

Warp can use a new highly-optimized physics kernel called PICSAR.
After it has been built and tested on Edison, we need to do the same on Cori, which uses the manycore KNL processors from Intel. Warp/PICSAR are reported by LBL to work well on this processor.

The Warp source is here (as

[2017-06-04 15:50] bruhwiler commented on #95
I've requested read access to PICSAR on Bitbucket.

[2017-06-07 23:44] robnagler commented on #97
I have a script, which seems to work on Cori. You can select whether it is a KNL or Haswell.

What I don't know is how you want it delivered. It could be something like:

[code]

This would install warp-picsar in a fixed location in $SCRATCH. This doesn't seem right to me. We should maybe install in ~/.local/{lib,bin}. I might be able to get it to work with a virtualenv, but that doesn't seem to b

[2017-06-07 23:48] robnagler commented on #96
I started with this, because it was easiest. With a few modifications, it works in our pyenv setup.

Would you want a separate pyenv-virtualenv for this or do you want this in the normal picsar environment? You would have to select the PXR solver anyway so seems like this is the right way to go.

I would make this a "code" that gets installed in our normal beamsim container. I wouldn't compile it

[2017-06-07 23:48] robnagler commented on #96
One thing is that we would need to upgrade to the latest Warp, which is probably not a problem.

[2017-06-07 23:51] bruhwiler commented on #97
Awesome!

I think a fixed location in $SCRATCH is the right choice.
$HOME is a very limited resource and is slow to access from the compute nodes.
$SCRATCH always has the fastest I/O which is important for instantiation.

It would be helpful to have it work in the same way on Edison.
PICSAR has new/improved algorithms and is faster in general than the original Warp.

[2017-06-07 23:54] bruhwiler commented on #96
Yes, we need a recent version of Warp.
By default, I guess the script should clone the latest versions of both.

In the future, it would be nice to have some control over the code versions -- probably specifying a date to get the most recent versions that are still older than the specified date. This is not a high priority.

[2017-06-09 19:44] robnagler commented on #96
When is PICSAR scheduled to be released? I don't particularly want to be adding my credentials to the travis build so would be better when it is FOSS.

[2017-06-09 19:47] bruhwiler commented on #96
I don't know.

We should not distribute it before it is released, so I suggest this issue be put on hold until that time.

[2017-06-09 20:44] robnagler commented on #97
This works for me:

[code]

It will compile only on Cori right now. I can test on Edison once we know we want this approach. If you run the command in your Linux box, it'll do the standard, non-PICSAR install.You need access to the PICSAR repo so you'll need to enter your bitbucket credentials or set them up in advance in your netrc.

[2017-06-12 18:50] ncook882 commented on #88
Closed via recent update. See #92

[2017-06-12 18:50] ncook882 commented on #88
Closed via recent update. See #92

[2017-06-12 18:50] #88 closed

[2017-06-12 19:02] ncook882 opened #98 "Update Synergia and chef on Jupyter for impedance calculations"
Alex Macridin has updated Synergia with new features for simulating impedance. I'd like to be able to verify his simulations on Jupyter. See the most recent commit ([02c2e941](https://cdcvs.fnal.gov/redmine/projects/synergia2/repository/revisions/02c2e941de93ae511f68db31daf70e4c69863534)) on the `devel` branch of Synergia is June 8, 2017.

Additionally, Eric Stern has updated the `devel-synergia`

[2017-06-12 21:45] robnagler commented on #98
I'm rebuilding now. It'll take a few hours before deploy happens.

[2017-06-12 22:46] #97 closed

[2017-06-13 01:21] robnagler commented on #98
The build is failing for dependency issues. I need to debug tomorrow.

[2017-06-13 14:48] robnagler commented on #98
bnlcrl is including pandas which hardcodes Sphinx==1.3.5. Talking with @mrakitin about the issue.

[2017-06-13 19:19] mrakitin commented on #98
@robnagler, I updated the bnlcrl as you suggested - moved the plotting part along with Pandas/NumPy/Matplotlib imports to a separate module (https://github.com/mrakitin/bnlcrl/commit/e9d012029ab66d790e6bacbfe735cf4ed6221fea). I suspect it may still be failing due to pandas is in [requirements.txt](https://github.com/mrakitin/bnlcrl/blob/master/requirements.txt#L4). Please suggest what to do next.

[2017-06-17 13:07] robnagler commented on #98
The latest image contains the synergia 36563ade162b35cbc899bf1f5177a88e3e412646

Just restart your JupyterHub server or download radiasosft/beamsim-jupyter:alpha.

[2017-06-17 13:07] #98 closed

[2017-06-17 14:15] robnagler opened #99 "run_bash to bivio-service functions to allow appropriate env"
Make procedure for db upgrade when server is not running. exec_bash only works if the container is running.

[2017-06-20 23:15] robnagler opened #100 "travis environment is being updated 6/21/2017"
This may break something.

[code]

[2017-06-26 22:00] robnagler commented on #95
I think we are in good shape. If you want more work, LMK.

[2017-06-26 22:00] #95 closed

[2017-06-26 22:01] robnagler commented on #96
We are waiting on PICSAR to be FOSS. We shouldn't do anything until then. Closing for now.

[2017-06-26 22:01] #96 closed

[2017-06-26 22:04] robnagler commented on #100
Seems ok.

[2017-06-26 22:04] #100 closed

[2017-06-26 22:08] robnagler commented on #69
I think we should leave it as it is. It's easy to distinguish as spam. The problem with removing it is that we will just receive more spam to info@radiasoft.net

There's no good solution except captchas which we could implement, but again, it's a low volume problem.

[2017-06-26 22:08] #69 closed

[2017-07-03 22:12] robnagler commented on #99
This is a general issue. I think the db upgrade part should be solved by automatically running the upgrade in server init.

[2017-07-20 19:40] ncook882 opened #101 "Warp: runaway memory usage in egun-like mode"
When running Warp in [egun-like](https://bitbucket.org/berkeleylab/warp/src/ddfc671c1c68/scripts/run_modes/egun_like.py?at=master&fileviewer=file-view-default) mode, I am observing runaway memory usage of many GB within the first few minutes of a run.

![egun_memory](https://user-images.githubusercontent.com/11053323/28435523-9888f768-6d50-11e7-97a8-ec84cdf3a4b2.png)

I've attached the script used

[2017-07-21 17:13] robnagler commented on #101
There was a easy bug to fix (c => clight), but the second bug (see below) is not clear to me. My warp is from 6/16/17 (see below). @ncook882 which version are you using?

[code]

[2017-07-21 17:20] ncook882 commented on #101
I don't think this is a bug. I set a maxtime in the `egun()` call to prevent the memory usage from getting too high and crashing the kernel. You can change this by adjusting the '250' modifier on line 399 within the `run_egun()` function.

I am running using the [RadiaSoft Warp fork](https://bitbucket.org/radiasoft/warp), last updated on 6/25/17. It is behind the main branch Warp branch, although

[2017-07-21 17:23] ncook882 commented on #101
Chris believes the memory leak may be occuring due to the use of user-defined injection (`USER_INJECT=3`). See lines 259-260:

    installuserinjection(myInjector.inject_thermionic)

Chris found that in some cases, setting `USER_INJECT = 1` for constant injection got rid of the memory problem. The implication here is that Warp is injecting particles continuously when it should only be doing so onc

[2017-07-21 17:59] robnagler commented on #101
OK. Just FYI I think I see that it is happening in Python vs Fortran (see below). I can debug further if you like, but I'll wait for you say so.

[code]

[2017-07-21 20:51] ncook882 commented on #101
I'm not certain I can understand much from this output, but if it is happening at the Python level, then that may be further evidence that the problem lies in [egun_like.py](https://bitbucket.org/berkeleylab/warp/src/ddfc671c1c68/scripts/run_modes/egun_like.py?at=master&fileviewer=file-view-default).

If you could directly point to where the memory was being allocated without too much effort, that

[2017-07-21 20:53] robnagler commented on #101
The reason I say it is in Python is that the allocation is from Python. It could be anywhere in the warp*.py codebase, not in egun_like.py.

If you have a parameter you can twiddle to stop the problem, then it's clearly a warp thing, and you can tell them. What I thought was that you didn't have any idea where it was.

[2017-07-21 20:57] ncook882 commented on #101
OK. I am quite confident it is a Warp specific problem. I will follow up with a Warp issue once I have a better handle on it.

[2017-07-24 13:29] robnagler commented on #101
I'm going to unassign me. :)

[2017-07-25 14:13] robnagler opened #102 "Move "codes" to radiasoft/download"
Right now codes.sh has to collect the files from beamsim and beamsim-part1. That's a hack, because the image had to be split. We may have to split again, because OPAL pushed the size of beamsim over the Travis time limit. The best thing would be to build each code in a separate image.

Moving codes to radiasoft/download into a single directory would make it easier to manage this.

[2017-07-30 12:53] robnagler opened #103 "Reap jupyter containers"
We had quite a few containers running on jupyter. We need to reap the containers regularly. Need to detect if they are idle.

[2017-08-01 16:30] robnagler opened #104 "Create .gitconfig dynamically in beamsim-juptyer"
The user's github id is passed in via an environment variables so we could create a ~/.gitconfig with a credential cache so the user would only have to enter their GitHub password every now and then.

[2017-08-04 03:11] robnagler opened #105 "Vagrant VirtualBox VM crashes when plugging in Thunderbolt Display"
It has taken me a bit to figure out that my new VMs are crashing when I plugin (or out) the Thunderbolt Display. It doesn't happen with other monitors or keyboards. It can be the USB or Thunderbolt port. My old Fedora VM, doesn't crash. There must be a configuration parameter that ignores the event that is caused by the Display.

[2017-08-04 13:23] robnagler commented on #102
Done

[2017-08-04 13:23] #102 closed

[2017-08-04 13:24] robnagler commented on #90
Switching to CentOS 7. Fedora update cycle is too frequent.

[2017-08-04 13:24] #90 closed

[2017-08-04 13:30] robnagler opened #106 "Create announcement for OPAL list"
Andreas wants to announce our jupyter server.

[2017-08-04 16:47] robnagler commented on #106
How about this? @bruhwiler @pmessamer

RadiaSoft has added OPAL to our suite of beam simulation tools available instantly via your browser for free:

https://jupyter.radiasoft.org

You can run OPAL via the command line or with [pyOPALTools](https://gitlab.psi.ch/OPAL/pyOPALTools) in an IPython notebook.

All you need is a a [GitHub account](https://github.com) to login to our Jupyter server.​

Alo

[2017-08-04 17:05] messamer commented on #106
Suggest noodling with this sentence: "Along with OPAL, the following codes come pre-installed on jupyter.radiasoft.org: Elegant, Genesis, Hellweg, Shadow, SRW, Synergia, and WARP."  Maybe "OPAL is the newest addition to our suite of preinstalled codes on jupyter.radiasoft.org.  We now support OPAL, Elegant, Genesis, Hellweg, Shadow, SRW, Synergia, and WARP."

In what context does this appear? For

[2017-08-04 20:35] moellep opened #107 "containerize radiasoft's warp"
from bitbucket

[2017-08-05 14:01] robnagler commented on #107
https://bitbucket.org/radiasoft/warp

[2017-08-05 14:07] robnagler commented on #106
Sent text to Andreas

[2017-08-05 14:07] #106 closed

[2017-08-05 15:00] robnagler commented on #107
@ncook882 this is on alpha and jupyterhub. Here's the manifest:

[code]

[2017-08-05 15:00] #107 closed

[2017-08-07 17:46] robnagler commented on #105
Turning off audio, fixes the problem. You can do this [in the Vagrantfile](https://github.com/radiasoft/devops/wiki/Vagrant#mac-os-x-with-thunderbolt-display) or [from the command line](https://github.com/radiasoft/devops/wiki/Vagrant#mac-os-x-with-thunderbolt-display)

[2017-08-07 17:46] #105 closed

[2017-08-11 16:45] robnagler commented on #84
Just to follow up on some pricing.

* $1,508 on GCP for April. The configuration was a small processor with a lot of storage for NFS and a 32 core processor (64 threads). To be fair, we probably could have saved some money without the NFS server.

* $1,718 on AWS for April. Same configuration as GCP. The c4.8xlarge cost $1,146 for the month for 18 cores (36 vCPU).

[2017-08-18 14:27] robnagler opened #108 "radiasoft.net SSL cert"
Need a secure cert for radiasoft.net to make Google more favorable to us.

[2017-08-29 20:47] robnagler commented on #104
Modified @radiasoft/jupyter.radiasoft.org to make this happen, but it hangs the first terminal due to git credential cache not starting in daemon mode.

[2017-08-29 20:47] #104 closed

[2017-09-11 19:16] ncook882 commented on #101
This problem was due to Warp continuously injecting particles when user-injection (`top.inject=6`) was specified. I've adjusted the `top.inject=` parameters to permit the injection of complete thermal distributions, thus removing the need to use the user-injection mode.

[2017-09-11 19:16] #101 closed

[2017-09-11 19:17] ncook882 opened #109 "Install Radiasoft-warp branch for use on Sirepo"
The newest features of the Warp-VND interface for Sirepo require [Radiasoft-warp](https://bitbucket.org/radiasoft/warp) to be installed.

[2017-09-11 19:47] robnagler commented on #109
We were already building off our fork but with an older commit. I changed to "master". I started a build, and will let you know when this is on jupyter.

[2017-09-11 20:44] robnagler commented on #109
The Jupyter server has been updated (see below). To upgrade warp on your VM:

[code]

Here's the manifest for Warp:

[code]

[2017-09-11 20:44] #109 closed

[2017-09-20 15:39] robnagler opened #110 "Configure VM for BNL"
@mrakitin: Create an rsconf configuration for BNL. Need to consider flask http vs nginx/uwsgi. Run by external proxy. Will run on VirtualBox/Vagrant.

[2017-09-20 15:41] mrakitin commented on #110
Thanks Rob!

[2017-10-01 16:07] robnagler opened #111 "2017 Migration"
In no particular order:

- [ ] ownCloud
- [ ] beta.sirepo.com server
- [ ] alpha.sirepo.com server
- [ ] login server
- [ ] COMSOL
- [ ] NFS /scratch & /home
- [ ] Subversion migration
- [ ] ssh accounts
- [ ] jupyter server
- [ ] nightly container expunge
- [ ] rsconf/build server
- [ ] tini for all containers (rsconf)
- [ ] beta db migration script
- [ ] cluster controller (torque, slurm, etc.)

[2017-10-10 18:23] robnagler opened #112 "POP mail config"
Automate the procmail/dovecot delivery solution for users who are POPing off the mta.

[2017-10-10 18:24] robnagler opened #113 "Automate spam folder"
Consider supporting IMAP forwarding allowing users to inspect a spam folder in Maildir. This could be part of dovecot.

Note that some mail is not picked up by gmail so need to clean maildir/cur every now and then.

[2017-10-16 21:41] robnagler opened #114 "Installer for full sirepo-dev"
* Use ~/src on Mac/PC and VM
* Configure for PCs, too
* Make sure all codes are installed

[2017-10-17 01:28] robnagler opened #115 "Non-public IPs are blocked which breaks vagrant-centos7 installer"
Probably should have a domain name just for hosts like this, but the private network has to stay private. (Should also verify that the network doesn't match anything local.)

[code]

[2017-10-17 18:53] robnagler opened #116 "mac /etc/exports is not readable by vagrant"
Vagrant needs read permissions before sudo'ing to modify the exports so need to add a wrapper or get vagrant to do the right thing in the plugin.

[2017-10-18 01:10] robnagler opened #117 "docker not forwarding from container on jupyter.radiasoft.org"
docker networking is not right on jupyter. docker0 is not routing to the outside world

[2017-10-18 02:21] robnagler commented on #117
docker networking on apa20 had an invalid iptables configuration for docker. The machine hadn't been rebooted in forever. Outbound connections had to be masqueraded with NAT for routing to work properly.

apa19, 20, 25 were configured by hand and not quite the same. Now they all run iptables.service under systemd and configure iptables rules for docker0 properly. dockerd is set to iptables=false.

[2017-10-18 02:21] #117 closed

[2017-11-02 18:04] robnagler opened #118 "beamsim run mounts home"
Mount home as "userid" home automatically.

[2017-11-02 18:05] robnagler opened #119 "document how to run beamsim"
Remove old docs and make simple public page.

[2017-11-02 20:33] robnagler opened #120 "development mode for srw builds"
srw.sh should detect there are src directories or be passed a flag to build the code in ~/src.

[2017-11-02 21:53] robnagler opened #121 "comsol workflow for saving to cloud"
Look at comsol save files to figure out how to strip out data for source saves and also solution for saving full solves.

[2017-11-03 21:28] robnagler opened #122 "convert apa14 to jupyter server"
Right now server is idle. Run a simple Jupyter notebook for our use.

[2017-11-06 13:20] robnagler opened #123 "py2 not active in single user jupyter server"

[2017-11-09 18:15] ncook882 opened #124 "Rebuild Synergia for beamsim"
The most recent commit [e6e6bc91](https://cdcvs.fnal.gov/redmine/projects/synergia2/repository/revisions/e6e6bc9151eeee465f10be1576efd16ad0dce933) to the Synergia2 development branch fixes an inconsistency with the stepper construction algorithm which has been preventing me from loading certain lattice files. I've been running Synergia on the container both locally and on Jupyter, so it would be g

[2017-11-09 20:57] robnagler commented on #124
Starting a build.

[2017-11-10 01:43] robnagler commented on #124
Loaded on jupyter.radiasoft.org

[2017-11-13 22:14] ncook882 commented on #124
Hi Rob. I'm still seeing this issue on jupyter.radiasoft.org. I've logged out and restarted my server several times. Is it possible that the Synergia build is using a different brach or is not up-to-date?

[2017-11-13 22:27] robnagler commented on #124
It's using the default branch, which I'm pretty sure is devel.

We keep a mirror of the FNL repos, because their server times out so frequently. I suspect that the commit came after the mirror happened. I'll rebuild.

[2017-11-14 02:15] robnagler commented on #124
The new image is on jupyter.radiasoft. I checked the build, and it seems to be right.

Let me know if there are issues.

[2017-11-14 02:15] #124 closed

[2017-11-14 18:25] robnagler opened #125 "Automate install of 3rd party sirepo servers"
Have a public rsconf server for 3rd parties who want to configure their servers. If they install a Centos 7 VM and give us sudo, the install should work out of the box. Eventually we can configure other operating systems.

[2017-11-16 14:57] robnagler opened #126 "OPAL 1.9 build environment"
We need gcc 5.4 and boost 1.62 for OPAL 1.9+. Fedora 26 has boost 1.63 and gcc 7.2.1  open mpi 2.0. Fedora 25 has boost 1.60, gcc 6.4.1, openmpi 1.10.5.

@cchall @j-edelen One way to experiment is to upgrade the cj server with the latest opal by trying to build it on fedora 26. You wouldn't have the other codes, just opal 1.9.

I'd like to keep everything in beamsim compatible, but we may have to

[2017-11-16 20:21] ncook882 opened #127 "Amend rsmanifest for Synergia version in containers"
Currently the manifest for the containers documents the [contract-synergia2](https://cdcvs.fnal.gov/redmine/projects/contract-synergia2/repository?utf8=%E2%9C%93&rev=devel) repository. Although this may be the repository needed for properly building the code, it obscures actual information about the current Synergia version/commit.

Would it be possible to change the manifest to provide the [Syner

[2017-11-16 21:24] robnagler commented on #127
Yes, we should do this.

[2017-11-28 15:44] robnagler commented on #126
I tried reverting to head of OPAL-1.6 and got a build error probably due to a newer version of boost being required (below). Will need to migrate to OPAL-1.9 anyway.

[code]

[2017-11-29 22:42] robnagler opened #128 "jupyterhub is overloaded"
I'm trying to see why, but I suspect it's just too many users.

[2017-11-29 23:20] robnagler commented on #128
A user soaked all the memory and CPU. We don't have any limits on memory or CPU.

The kernel was complaining about CPU temperature. I think this is ok. The power consumption (329w peak) was under appropriate thresholds (CMC Allocation 396w).

[code]

I saw some comments about this being an issue with Red Hat kernel configuration.

[2017-11-29 23:20] #128 closed

[2017-11-29 23:25] robnagler commented on #128
Some useful images from the m620 console.

![watts-history](https://user-images.githubusercontent.com/5495179/33404532-e59c28ac-d521-11e7-9991-7f15a1d1aeb1.png)

![watts-last-hour](https://user-images.githubusercontent.com/5495179/33404539-ea605e8a-d521-11e7-8397-aa58c34d8366.png)

[2017-12-04 16:44] robnagler commented on #125
Some notes of what needs to be done:

Stuff to ask for:
- [ ] At least 8 cores and 32GB
- [ ] Extra 100GB disk that can be used for the docker LVM
- [ ] GitHub OAuth setup
- [ ] TLS cert (can be generated, but a real one from, say, letsencrypt is better)
- [ ] Backup /var/lib and /etc (whole machine is best)

Stuff to do:
- [ ] Ensure journald is persisting
- [ ] Dangling images need to be cleaned

[2018-01-09 22:56] robnagler opened #129 "Configure NFS over RDMA"
https://access.redhat.com/documentation/en-us/red_hat_enterprise_linux/7/html/storage_administration_guide/nfs-serverconfig#nfs-rdma

Need to configure firewall to allow rdma (20049 only?).

[2018-02-05 20:44] robnagler opened #130 "Setup a server for Yury"
Added dfw3.bivio.biz for Yury, running Fedora 27.

[2018-02-05 20:44] #130 closed

[2018-02-11 18:42] robnagler opened #131 "Migrate alpha sirepo to fnl6b"
I'll be migrating alpha.sirepo.com now.

I'm going to copy the database to practice for migrating beta.

[2018-02-11 19:05] robnagler commented on #131
Seems to work.

I haven't install flower yet.

[2018-02-15 23:58] robnagler opened #132 "mpi requires cap_ptrace or printing a message now"
Latest image running warp or elegant with mpiexec produces errors of the form:

[code]
The results of the simulation seem to be correct, but there are a lot of errors output.

Running the container with `--cap-add=SYS_PTRACE` removes the errors. Running strace on the mpiexec shows that [set_robust_list](https://linux.die.net/man/2/set_robust_list) is called, which is like one of the capabilities e

[2018-02-16 01:18] robnagler commented on #132
@moellep did some digging and found [this line](https://github.com/open-mpi/ompi/blob/9c3ae64297e034b30cb65298908014764216c616/opal/mca/btl/vader/btl_vader_get.c#L76), which causes the error:

[code]

Reported in open-mpi/ompi#3270.

In order to use CMA, which is faster shared memory, we have to enable ptrace in the container. It's not clear what the issues are with this in Jupyter.

I think this

[2018-02-16 16:54] robnagler commented on #132
@cchall The solution for the short term is to explicitly set "sm" (shared memory) instead of letting mpi to try vader/cma, so in your example:

[code]

[2018-02-16 18:02] robnagler commented on #132
@cchall @j-edelen Please test again by stopping and starting your container.

The home environment now sets `OMPI_MCA_blt=self,sm,tcp` if the shell is running in a docker container. If you stop and start your container, it will automatically update the environment with this value. It won't work inside a notebook just yet (build required, which is happening), but it will work in a terminal.

Thanks

[2018-02-16 18:30] j-edelen commented on #132
@robnagler I am running opal now and everything seems to be working as expected.

[2018-02-16 18:54] robnagler commented on #132
Deployed on alpha.sirepo and jupyter2.

[2018-02-16 18:54] #132 closed

[2018-02-20 22:09] robnagler opened #133 "celery_sirepo hung in created"
New container hung in created state.

[code]

[2018-02-20 22:11] robnagler commented on #133
The reboot failed. I had to power cycle. It was hung on /srv/sirepo/db/user and the luks PV. Both were probably accessed by celery_sirepo docker container in the hung state.

[2018-02-20 22:19] robnagler commented on #133
The reboot cleared the hung container.  Hopefully, the "created" container problem is transient. There have been numerous fixes over the years. It still seems to be an issue in the latest Docker (17.12.0).

[2018-02-20 22:19] #133 closed

[2018-02-23 03:38] robnagler opened #134 "fnl226b machine check memory error"
I hadn't see this before:

[code]

[2018-02-23 03:42] robnagler commented on #134
Need to check `/sys/devices/system/edac/mc/mc*/ce_count` for non-zero values https://serverfault.com/a/682963

[2018-02-23 03:44] robnagler commented on #134
got another one, same address

[2018-02-24 17:33] robnagler opened #135 "sklearn and keras and tensorflow to beamsim-jupyter"
Per @j-edelen

[2018-02-28 19:02] #135 closed

[2018-02-28 19:33] robnagler commented on #135
@j-edelen if you restart your server on jupyter.radiasoft, it will have the packages newly installed.

[2018-02-28 21:00] robnagler opened #136 "backups should not cross file system boundaries"
NFS directories shouldn't be backed up.

[2018-03-21 17:09] robnagler opened #137 "radiasoft.net/open-source not found"
This link is in all of our README.md files.

[2018-03-21 17:10] robnagler commented on #137
@messamer will you have a look? (I can't assign you for some reason.)

[2018-03-21 18:08] messamer commented on #137
Hi Rob-

What should I look at?  I cannot magically cause a server error...

P

On Wed, Mar 21, 2018 at 11:10 AM, Rob Nagler <notifications@github.com>
wrote:

[2018-03-21 19:14] robnagler commented on #137
radiasoft.net/open-source is no longer pointing at a valid page. I'm not sure what it was before, but it's a link we had. You need to redirect this link to the appropriate page for open source documentation. Here's an example usage: https://github.com/radiasoft/sirepo#license

[2018-03-21 21:17] messamer commented on #137
fixed-  redirected radiasoft.net/open-source to  radiasoft.net/products
<http://radiasoft.net/open-source>

On Wed, Mar 21, 2018 at 1:14 PM, Rob Nagler <notifications@github.com>
wrote:

[2018-03-22 00:06] bruhwiler opened #138 "radiasoft.net WordPress wants PHP update"
Your site could be faster and more secure with a newer PHP version.

Hey, we've noticed that you're running an outdated version of PHP. PHP is the programming language that WordPress and Yoast SEO are built on. The version that is currently used for your site is no longer supported. Newer versions of PHP are both faster and more secure. In fact, your version of PHP no longer receives security upda

[2018-03-22 00:17] robnagler commented on #138
All part of the plan. :)

[2018-03-22 00:19] bruhwiler commented on #137
An "Open Source" link appeared along the top of the website.
I fixed it.

[2018-03-22 00:19] #137 closed

[2018-03-22 02:49] robnagler opened #139 "mpi4py not working in parallel in beamsim-jupyter"
[code]

[2018-03-22 15:49] robnagler commented on #139
Took a little digging, but this seems to be the fix: https://github.com/radiasoft/download/commit/5f5ed5ca3fc0d46bb962a2114828da3c6b61bd8c

Build is going to take a while...

[2018-03-22 21:23] robnagler opened #140 "The 'loop' trait of an IOLoopKernelManager instance must be a ZMQIOLoop, but a value of class 'tornado.platform.asyncio.AsyncIOMainLoop'"
Likely caused by Tornado going to 5.x recently.
[code]

[2018-03-22 21:41] robnagler commented on #140
@ncook882 @cchall I had to back out the latest beamsim-jupyter image, because there are conflicts with tornado 5.x being release. I need to work those out, and then rebuild.

Your containers will continue to run so if you don't restart, you'll have the latest image.

@bnash you can restart your server to get the old version.

[2018-03-23 03:19] robnagler commented on #140
The build finally worked, and I verified on one of our internal servers. The push is happening to all Jupyter servers.

It's complicated getting the versions right since Jupyter runs on Python 3, but allows you to start Py2 kernels.

[2018-03-23 03:19] #140 closed

[2018-03-23 03:42] robnagler opened #141 "waiting for lo to become free. Usage count = 1"
[code]

Seems to be a kernel bug related triggered by Docker creating network interfaces: https://stackoverflow.com/a/43158365

[2018-03-25 14:38] robnagler opened #142 "RAID & SSD performance"
Documenting performance of performance of PERC H310 (non-RAID) vs motherboard S110 in AHCI and RAID modes. The summary is that SSD performance varies wildly (2x). Perhaps its about wear, because most of these disks had been used 3K+ hours. However, there doesn't seem to be a correlation.

* Newer drives are faster, because they have newer technology
* Smaller drives seem to be faster
* Luks and ma

[2018-04-19 18:32] robnagler opened #143 "printer trouble in office"
@kristab1023 can't print on the printer in her office. @dtabell tried to help, and wrote:

Similar, and repeated, efforts for Krista were all to no avail. She can see the Brother in Leslie's office, but not the Brother in Krista's office. The Canon was not visible in the print dialog, but we successfully added it. (One mystery, of course, is why that should have been necessary when she has success

[2018-04-20 00:45] robnagler opened #144 "owncloud "file was deleted from server""
I'm documenting this issue, which could be any number of issues, e.g. https://github.com/nextcloud/server/issues/4786. I'm not sure what to do about this in general. I don't think there's a solution

[2018-04-20 12:56] robnagler commented on #131
done

[2018-04-20 12:56] #131 closed

[2018-04-20 13:00] robnagler opened #145 "fnl16b journal input/output error"
Unable to get into fnl16b even via console which was flooded with:

[code]

![fnl16b-journal-error](https://user-images.githubusercontent.com/5495179/39052173-6635a032-4468-11e8-8feb-98718ccaaf55.png)

[2018-04-20 13:10] robnagler commented on #145
Last journal entry was from Apr 16 23:45:17. Machine was probably hung from that point, because logs didn't rotate, and /var/log/messages had last entry at exactly that same time.

There are various bugs related to systemd-journal related to corruption. There's not thing we can do except log, and hope it doesn't happen again.

[2018-04-20 13:10] #145 closed

[2018-04-27 19:50] j-edelen opened #146 "Image processing library request"
Can we please add pillow to the list of python modules that are available to users on the jupyter server.

[2018-04-27 20:51] #146 closed

[2018-04-30 01:56] #139 closed

[2018-04-30 01:57] robnagler commented on #136
Done.

[2018-04-30 01:57] #136 closed

[2018-04-30 01:57] robnagler commented on #142
We are stable.

[2018-04-30 01:57] #142 closed

[2018-04-30 01:58] #126 closed

[2018-04-30 01:59] #115 closed

[2018-04-30 01:59] robnagler commented on #99
rsconf handles this

[2018-04-30 01:59] #99 closed

[2018-04-30 01:59] robnagler commented on #87
doesn't seem to be a problem now.

[2018-04-30 01:59] #87 closed

[2018-04-30 02:00] robnagler commented on #80
rsconf handles this

[2018-04-30 02:00] #80 closed

[2018-04-30 02:01] robnagler commented on #83
rsconf allows configuration of docker iptables or system iptables. firewalld is not used. there are assertions to handle docker and regular iptables conflicts. jupyterhub is the only service which needs docker forwarding.

[2018-04-30 02:01] #83 closed

[2018-04-30 02:01] robnagler commented on #73
fixed long ago

[2018-04-30 02:01] #73 closed

[2018-04-30 02:02] robnagler commented on #67
Not using ansible so not an issue.

[2018-04-30 02:02] #67 closed

[2018-04-30 02:02] robnagler commented on #129
NFS seems to be fast enough as configured. Let's wait till it becomes a real performance issue

[2018-04-30 02:02] #129 closed

[2018-04-30 02:03] robnagler commented on #141
Nothing we can do.

[2018-04-30 02:03] #141 closed

[2018-04-30 02:03] robnagler commented on #144
we can't do anything owncloud is still working

[2018-04-30 02:03] #144 closed

[2018-04-30 02:04] robnagler commented on #134
Replaced RAM.

[2018-04-30 02:04] #134 closed

[2018-04-30 02:04] robnagler commented on #143
Printer on order.

[2018-04-30 02:04] #143 closed

[2018-04-30 02:09] robnagler commented on #30
sqllite is now used, and sufficient and backed up

[2018-04-30 02:09] #30 closed

[2018-04-30 02:10] robnagler commented on #35
Not bothering.

[2018-04-30 02:10] #35 closed

[2018-04-30 02:10] robnagler commented on #11
apa11 is no longer used

[2018-04-30 02:10] #11 closed

[2018-04-30 02:11] robnagler commented on #15
We don't support debian. we support systemctl via CentOS 7 only.

[2018-04-30 02:11] #15 closed

[2018-04-30 02:11] robnagler commented on #57
Hasn't been happening lately.

[2018-04-30 02:11] #57 closed

[2018-04-30 02:12] robnagler commented on #116
mac vagrant curl installer seems to work fine.

[2018-04-30 02:12] #116 closed

[2018-04-30 02:12] robnagler commented on #114
Done, except partial install since not all codes needed.

[2018-04-30 02:12] #114 closed

[2018-04-30 02:12] robnagler commented on #112
part of rsconf

[2018-04-30 02:12] #112 closed

[2018-04-30 02:13] robnagler commented on #113
POP is a solution for this problem.

[2018-04-30 02:13] #113 closed

[2018-04-30 02:13] robnagler commented on #111
Done.

[2018-04-30 02:13] #111 closed

[2018-04-30 02:14] robnagler commented on #91
I believe this is handled.

[2018-04-30 02:14] #91 closed

[2018-04-30 02:14] robnagler commented on #138
Done

[2018-04-30 02:14] #138 closed

[2018-04-30 02:15] robnagler commented on #53
Done

[2018-04-30 02:15] #53 closed

[2018-05-05 12:51] robnagler opened #147 "Update to OPAL 2.0.0"

[2018-05-09 18:32] robnagler opened #148 "svn post commits not working"
From @dtabell

[2018-05-09 19:32] robnagler commented on #148
@dtabell please try a commit.

The mail server was not configured on the new server.

[2018-05-12 15:32] robnagler opened #149 "better diags for download/bin/install.sh"
The diags now are not good. The log is useless and should be removed. Instead, should keep a memory log of what's going on, and try to output that on an exception.

[2018-05-20 21:54] robnagler commented on #110
@mrakitin is this still an issue?

[2018-05-20 22:10] mrakitin commented on #110
I think https://github.com/radiasoft/sirepo/wiki/Development covers the instructions, so It's not an issue.

[2018-05-21 13:02] #110 closed

[2018-05-21 13:33] mrakitin commented on #110
Forgot to ask - are there services configured in that box? I remembered the original idea was to have an independent box with Sirepo services started automatically on system boot.

[2018-05-22 22:35] robnagler commented on #148
There were other problems:

* The mailer moved from /usr/share/doc/subversion-1.6.11/tools/hook-scripts/mailer/mailer.py to /usr/share/doc/subversion-tools/hook-scripts/mailer/mailer.py
* SPF record needed to be updated to include dfw3 since the sender was misc@radiaoft.net
* Needed  subversion-tools
* Which depends on subversion-python, but the dependency isn't in the RPM for some reason.

I crea

[2018-05-22 22:35] #148 closed

[2018-06-18 19:00] moellep opened #150 "beta backend crashing"
The beta.sirepo.com front end is working, but all simulation reports are failing with a bad gateway. fnl5b logs show "socket.error: [Errno 104] Connection reset by peer".

Running update-beta.sh on fnl1 didn't correct the problem.

[2018-06-18 19:09] moellep commented on #150
Also, noticed this in the fnl5 celery_sirepo logs:

Jun 18 19:06:36 fnl5b.bivio.biz celery_sirepo[29163]: [2018-06-18 19:06:36,486: ERROR/MainProcess] consumer: Cannot connect to amqp://guest:**@rabbitmq-b
eta.sirepo.com:5672//: [Errno 104] Connection reset by peer.

[2018-06-18 20:17] moellep commented on #150
Restarted back-end processes and Rob fixed core dump size and it is running again.

[2018-06-18 20:17] #150 closed

[2018-06-18 20:18] robnagler commented on #150
out of disk space caused by core dumps (biviosoftware/devops#200). No longer will core dump

We have a specific simulation which was causing the core dumps, and @moellep is debugging.

[2018-06-21 21:57] #127 closed

[2018-06-22 04:45] nickgoldring opened #151 "comsol server license unavailable - no processes running"
When opening an application from the COMSOL server application library, I receive the error message that the maximum number of users is already reached even though there are no other users logged on. Additionally there are no other simulations running.

I was running applications on the server throughout the day today without any problems.

![image](https://user-images.githubusercontent.com/324940

[2018-06-22 16:56] robnagler commented on #151
Looks like the disk is full

[2018-06-22 16:57] robnagler commented on #151
/tmp was 2.9g. There were a bunch of csbatchNNN directories in there. I'll see if there's a way to tell COMSOL to not use /tmp.

[2018-06-22 16:57] robnagler commented on #151
Please test now, because disk is back to normal.

[2018-06-22 17:15] robnagler commented on #151
There's [no way to change systemd's tmpdir](https://unix.stackexchange.com/questions/435367/is-it-possible-to-change-systemd-private-tmp-directory), which would be the obvious fix. There is a concept of PrivateTmp, but it binds /tmp in the service to a subdirectory in /tmp.

Already passing -tmpdir to comsol, but it seems that this [has been broken for almost a decade](https://www.comsol.com/forum

[2018-06-22 17:42] nickgoldring commented on #151
I'm still getting the license error message, unfortunately. I created an account for Jason Lerch (APS) and he was experiencing the same problem this morning.

I built some models recently that are supposed to run simultaneous iterations of the same computation over all available cores - the full solution is found by summing over the results of each iterative solution which need to be stored somewh

[2018-06-22 18:17] robnagler commented on #151
I suspect we have some type of runaway process situation. LMK if I should just reboot the server:

[code]

[2018-06-22 18:29] nickgoldring commented on #151
Okay. Yes, please reboot the server.

[2018-06-22 18:59] robnagler commented on #151
Rebooted. Would your run a batch job so I can see if it is putting files in a different tmp directory?

[2018-06-22 19:14] nickgoldring commented on #151
Absolutely. I'm uploading a new version now and will run it within a few minutes.

[2018-06-22 20:28] robnagler commented on #151
There's now a /srv/comsol/start which does a bind mount of /srv/comsol/tmp to /tmp and then a sudo to comsol to run the server. This should prevent access to /tmp

[2018-06-22 20:28] #151 closed

[2018-07-02 22:23] robnagler opened #152 "add fbpic"
https://github.com/fbpic/fbpic is needed by @sdwebb

[2018-07-03 21:32] robnagler opened #153 "fbpic needs pyfftw"
which need fftw3-devel

[2018-07-03 21:36] robnagler commented on #153
Fix https://github.com/radiasoft/container-beamsim-jupyter/commit/a0191a6f4eaaf11bb133ab6766039732b7d29389

[2018-07-03 21:36] #153 closed

[2018-07-12 14:37] robnagler opened #154 "VirtualBox install high sierra fails with permission problem"
These instructions worked. Document in Wiki:

https://apple.stackexchange.com/a/300518

[2018-07-16 16:53] robnagler commented on #76
Vector no longer exists(?). We have a simple text file. Bigger problem is an allocation manager.

[2018-07-16 16:53] #76 closed

[2018-07-16 16:55] robnagler commented on #46
This is an ongoing task, but we have a lot of procedures in place. rsconf has audited many things.

[2018-07-16 16:55] #46 closed

[2018-07-16 16:59] robnagler commented on #125
Let's make this on demand.

[2018-07-16 16:59] #125 closed

[2018-07-16 17:11] robnagler commented on #154
Added to https://github.com/radiasoft/devops/wiki/Vagrant#installing-vagrant-on-mac

[2018-07-16 17:11] #154 closed

[2018-07-16 18:48] elventear commented on #76
https://github.com/Netflix/vector

[2018-07-16 18:58] robnagler commented on #76
thanks @elventear!

[2018-07-17 16:52] robnagler opened #155 "docker: error creating overlay mount to: no such file or directory."
[code]

[2018-07-17 16:57] robnagler commented on #155
This happened on VirtualBox on the Mac. This is a long standing bug:

https://github.com/docker/for-mac/issues/1396

Seems to be caused by an interrupted pull. I had this on my machine yesterday. I pulled an image on VirtualBox (not native Mac), and it froze my Mac. Hard rebooted into safe mode. Another reboot and it booted fine.

I then tried to pull the image again, but got this:

[code]

Someth

[2018-07-17 16:57] #155 closed

[2018-07-17 17:03] robnagler commented on #155
Ah, even more complicated: https://github.com/docker/for-mac/issues/35

Here's what I did:

[code]

[2018-07-24 16:52] ilyapogorelov opened #156 "linking errors when building JSPEC"
For development of new features, I'll need to repeatedly re-build the JSPEC code (the JLab cooling code).  The code relies on the muparser library for parsing the math expressions in input files.  I'm getting errors at the linking stage as I try to build the code on macos and on Linux at NERSC.  I've tried different approaches (compiling the library in to .a or .so, combining the library source wi

[2018-07-24 16:58] robnagler commented on #156
You can find out how we build any code by looking in this directory: https://github.com/radiasoft/download/blob/master/installers/code/codes

For jspec, it's this file: https://github.com/radiasoft/download/blob/master/installers/code/codes/jspec.sh

It doesn't do anything special. We use the muParser-devel-2.2.5-5.fc27.x86_64 package from Fedora 27. What system are you building on?

[2018-07-24 22:17] robnagler commented on #156
It would help to have the error messages, build script, etc.

Alternatively, you might consider using the VM. I can't remember. Did we set one up for you?

[2018-07-25 21:42] moellep opened #157 "auto-builds for SRW"
I believe when we had travis running the builds, it would rebuild the container automatically when changes are made. So @mrakitin could commit a change and immediately get an updated container. Now there is no way to get an updated container without having radiasoft build it.

[2018-08-02 03:01] robnagler opened #158 "Running /radia-run in containers is way too slow when gid/uid are different"
I'm not sure there's a good fix to this. One alternative is not to modify user permissions, and instead add vagrant to the group of the user. For the UID issue, we could solve this by having the files writable by group when the container is built.

[2018-10-31 20:48] mkeilman opened #159 "Vagrant fails to sync to mac folder after reboot"
This was after a reboot to install xcode and "command line tools" for xcode:

[code]

The vm started but did not sync to my local folder.  @moellep suggested this:

[code]

which cleared things up.  Note I did not re-install "guest additions" before connecting to the vm.

[2018-10-31 21:17] robnagler commented on #159
Would you try this?  https://github.com/dotless-de/vagrant-vbguest/issues/278#issuecomment-358023589

[2018-10-31 21:23] mkeilman commented on #159
The vbguest command is not understood.  I presume I need to install the plugin first.  Shall I do so?

[2018-10-31 21:28] robnagler commented on #159
Yes, please.

[2018-10-31 21:38] mkeilman commented on #159
Results:
[code]

The vm seems to be running fine though

[2018-10-31 21:53] robnagler commented on #159
I think that's working. It may be that you have an old VM, and this wouldn't show up with latest.

[2018-11-01 00:55] robnagler commented on #158
Split out container-run into separate (default) installer in https://github.com/radiasoft/download/commit/36b90275c496af6f007bc0bb54341cb384d8a41d. container-run knows how to manage UIDs with changes to builds: /home/vagrant now publicly executable in https://github.com/radiasoft/containers/commit/c71a265278f2f1c1f1d28b27d28b825efc6abdec.

[2018-11-01 00:55] #158 closed

[2018-11-02 18:48] robnagler opened #160 "Build Radia directly from GitHub"
We mirror Synergia and OPAL, because the repos are large and unreliable. The same thing is true for SRW-light and Radia-light. Need to strip out the binaries and unused files and store as a tarball that gets updated nightly.

[2018-11-02 18:52] cchall opened #161 "rs servers down"
Looks like at least rs8 and rs9 just went down and now cannot restart.

Error message:

500 : Internal Server Error
Spawner failed to start [status=ExitCode=1, Error='', FinishedAt=2018-11-02T18:50:07.121838977Z]. The logs for cchall may contain details.

[2018-11-02 19:37] robnagler commented on #160
Plan B: The reason we created SRW-light was due to timeouts from github.com when building beamsim. Up until recently, beamsim was a serial process, that is, all codes were added to the container serially. Now we build RPMs from the codes and install those into beamsim so code builds don't depend on each other, and we don't have to rebuild all codes every time. Therefore, we'll try to build Radia d

[2018-11-02 19:52] #160 closed

[2018-11-02 19:54] #161 closed

[2018-11-19 16:28] robnagler opened #162 "https://radiasoft.net"
Add certificate for radiasoft.net

[2018-11-20 18:06] robnagler opened #163 "Wiki page describing support procedure"
Goal is to have quick response on all public facing support requests e.g. on sirepo repo. Issues shouldn't get lost.

* Assigning people to codes - each code should have an assigned scientist and a backup person
* Assigning people to issues - when a Issue comes up, it should be assigned to one person to handle by the primary or backup scientist.
* Auditing open tickets - make sure there are no ope

[2018-11-20 20:02] messamer commented on #163
Rob-

Is this a documentation task or a coordination task?  That is, are you
looking for a wiki to document expectations or are you looking for a
process to follow which I then oversee?

Paula

On Tue, Nov 20, 2018 at 11:06 AM Rob Nagler <notifications@github.com>
wrote:

[2018-11-20 20:35] robnagler commented on #163
Just a documentation task. @bruhwiler thought you would be the appropriate person to write this up.

[2018-11-25 19:21] robnagler opened #164 "add journald check to patrol.sh"

[2018-11-27 00:47] robnagler commented on #164
Added test for process and reading logs.

[2018-11-27 00:47] #164 closed

[2018-11-27 16:07] robnagler opened #165 "deploy audit.log fix to all hosts"
running on fnl1 tonight (upgrade worked fine) and will deploy probably tomorrow.

[2018-11-28 16:49] robnagler commented on #165
Deployed.

[2018-11-28 16:49] #165 closed

[2018-11-29 23:18] robnagler commented on #121
We are saving on our comsol server afaik.

[2018-11-29 23:18] #121 closed

[2018-12-03 23:31] cchall commented on #63
@robnagler
It appears that the RPN_DEFNS is no longer being set again. Possibly after the recent Jupyter upgrade?

[2018-12-04 15:47] robnagler commented on #63
`/usr/share/doc/elegant/defns.rpn` is missing. $RPN_DEFNS is defined in py2 and py3 kernels and terminal environments.

[2018-12-04 22:51] #63 closed

[2018-12-04 22:51] robnagler commented on #63
I'll rebuild the beamsim containers

[2018-12-13 13:34] robnagler opened #166 "Remove Vagrant from old download docs and hubs"
In general, review docs for incorrectness about how to install, especially for development mode.

Remove old images from Docker and Vagrant hubs. Clean up info on these sites.

[2018-12-13 13:51] robnagler commented on #166
Removed all boxes from vagrantup.com. Removed unused and old images from hub.docker.com.

[2018-12-13 17:00] robnagler commented on #166
I think things are in pretty good shape. Please submit another issue if you find more cruft.

[2018-12-13 17:00] #166 closed

[2018-12-15 18:05] bruhwiler commented on #163
Where is the wiki?

[2018-12-15 18:09] messamer commented on #163
https://github.com/radiasoft/sirepo/wiki/Customer-Issues-Procedure-and-Lead-Contacts-List

On Sat, Dec 15, 2018 at 11:05 AM David Bruhwiler <notifications@github.com>
wrote:

[2018-12-15 18:14] bruhwiler commented on #163
I shortened the page title, resulting in a new URL
https://github.com/radiasoft/sirepo/wiki/Sirepo-Support

I also added this to the top of the bar along the right hand side of the wiki

[2018-12-18 15:28] robnagler opened #167 "Look at Jupyterhub kubernetes for ICFA-ML tutorial"
- [ ] experiment with single node k8s jupyterhub in vagrant or aws
- [ ] configure on single node
- [ ] test multi-node
- [ ] add to rsconf

[2018-12-18 21:30] robnagler opened #168 "Deprecated domain radiasoft.download is unavailable"
TL;DR You should be using radia.run.

radiasoft.download became unavailable today. It was a rather odd thing. Here's Namecheap's explanation:

[2018-12-31 17:26] robnagler opened #169 "pyenv local not working in jupyter"
The default pyenv is `jupyter` which isn't right, but necessary to start jupyterlab. It should dynamically switch to `py3:py2`.

[2019-01-02 20:10] robnagler opened #170 "github bkp not updating?"
github_bkp expecting date: updated=2018-11-28T20:23:28Z

[2019-01-09 17:21] robnagler commented on #170
So it turns out that GitHub's API for "comments" is not as documented. It only returns the line comments, not all comments about all commits. github3.py just repeats what GitHub says so I [submitted an issue](https://github.com/sigmavirus24/github3.py/issues/917).

We've had a lot of bugs on the github backup. I'm going to try out [BackHub](https://backhub.co). It's only $70/mo for 150 repos (we h

[2019-01-09 17:21] #170 closed

[2019-01-09 17:22] robnagler opened #171 "Investigate BackHub for GitHub backups"
See #170 for why github3-py doesn't do the job.

[2019-01-09 18:04] robnagler commented on #170
Well, it's more complicated with line comments. It does return comments on the whole commit. However, we weren't saving issue comments, because those have to be iterated separately. At one time, I thought I tested that they did return in comments(), but whatever. BackHub does return issue comments properly so I'm going down this path for now.

[2019-01-22 20:10] #169 closed

[2019-01-29 18:54] robnagler opened #172 "Fix wordpress redirect to http://radiasoft.net:<port>/wp-admin/"
When you go to /wp-admin, it redirects to a port address, not http://radiasoft.net.

[2019-02-11 21:19] robnagler commented on #167
In reading through the [Zero to JupyterHub with Kubernetes](https://z2jh.jupyter.org/en/latest/), I've decided to bail on this. It assumes you are running on a cloud provider. There are a lot of assumptions about this, e.g. being about to dynamically create nodes with proper credentials.

We have a working nginx solution we've used for USPAS. I'm going to spend time to fix the DockerSpawner to wor

[2019-02-11 21:19] #167 closed

[2019-02-11 21:23] robnagler opened #173 "Extend JupyterHub DockerSpawner to work on multiple hosts/ports"
DockerSpawner needs to select a port number and a host from a list. We can hardwire the port range. The container can then be started dynamically over Docker TLS (already supported).

We can then run a single JupyterHub that knows how to allocate resources as opposed to be random. JupyterHub already handles finding the container for a user, just need to make that work across multiple machines. In

[2019-02-11 22:06] robnagler commented on #173
Restrict containers to N cores (probably 5).

[2019-02-12 16:33] robnagler opened #174 "Add ability to mount instructors directories in JupyterHub"
Instructor sub directories need to appear read-only in every student directory. We've done this before with readwrite ~/public, but we will want the instructors to be able to share files with students.

Source directory will be ~/jupyter/ICFA-ML-Workshop. Target directory will be `~/share/<githubusername>`.

[2019-02-20 15:52] robnagler opened #175 "try nfs v4 on mac os x from virtualbox"

[2019-02-21 02:22] robnagler commented on #173
[rsdockerspawner](https://github.com/radiasoft/rsdockerspawner) seems to work with multiple VMs. Next step is to create a cluster (mpi_cluster will help) and then a special jupyterhub.

[2019-02-22 20:35] #174 closed

[2019-02-22 20:36] robnagler commented on #173
Cluster is up and running with 12 nodes.

[2019-02-22 20:36] #173 closed

[2019-02-26 17:43] robnagler opened #176 "custom rsconf scripts should read db"
they can read srv/host for particular files containing the right channel.

[2019-03-05 17:44] robnagler commented on #176
Duplicate of radiasoft/rsconf#75

[2019-03-05 17:44] #176 closed

[2019-04-05 17:22] robnagler opened #177 "Add TLS cert for zgoubi.com"

[2019-04-05 17:25] robnagler commented on #177
Also for radiasoft.net and rsl.link.

[2019-04-05 21:50] robnagler commented on #177
Done include radiasoft.net and rsl.link, but radiasoft.net is not installed

See https://github.com/radiasoft/devops/issues/162

[2019-04-05 21:50] #177 closed

[2019-04-05 21:51] robnagler commented on #162
Wordpress needs updating.

[2019-04-10 23:36] robnagler opened #178 "Examples for interactive distributed machine learning on the Cori supercomputer"
read through https://github.com/sparticlesteve/cori-intml-examples to understand how to see how we might learn some things about ipyparallel, Jupyter, and NERSC.

[2019-04-11 17:51] robnagler commented on #178
Read through the example. I get how ipcontroller/engine works. I think it needs a wrapper program to make cluster setup easier. I don't think using ipengine would have any benefit for us, because running jobs from notebooks seems awkward.

[2019-04-11 17:51] #178 closed

[2019-04-11 20:12] #168 closed

[2019-04-12 22:51] robnagler opened #179 "Configure MPI on fnl11 mounting from fnl15"
@zhigangwu2018 needs another node for ALE3D. fnl11 is similarly configured to fnl15.

- [x] Mount his home directory from fnl15 on fnl11.
- [x] Setup ssh keys and MPI hosts file
- [x] Ensure fnl11 packages are same as fnl15

[2019-04-15 16:54] robnagler commented on #179
@zhigangwu2018 you can run mpi this way:

[code]

Your home directory is mounted on the other host (fnl11b).

Let me know if you have questions.

[2019-04-15 16:54] #179 closed

[2019-04-15 19:23] zhigangwu2018 commented on #179
Thanks!

On Mon, Apr 15, 2019 at 10:55 AM Rob Nagler <notifications@github.com>
wrote:

[2019-05-03 15:02] robnagler opened #180 "Alert when jupyterhub slots full"
Send an email.

[2019-05-21 17:04] robnagler opened #181 "Rebuild fedora & beamsim so dnf/yum-plugin-ovl is installed"

[2019-05-21 17:13] robnagler commented on #181
Built radiasoft/fedora:20190521.165840 and radiasoft/beamsim:20190521.170321

[2019-05-21 17:29] robnagler commented on #181
Rebuilding again without dnf-plugin-ovl just to be clear that touch works without it

[2019-05-21 17:42] robnagler commented on #181
Built radiasoft/fedora:20190521.173001 and radiasoft/beamsim:20190521.173249

[2019-05-21 17:42] #181 closed

[2019-06-12 20:51] moellep opened #182 "jupyter stop/start server shows confusing message"
When you are in a browser on the jupyter page, and select "Hub / Control Panel" it opens in a new tab. Selecting Stop My Server and the Start My Server on that page then shows the error message:

![Screen Shot 2019-06-12 at 2 50 21 PM](https://user-images.githubusercontent.com/6516910/59385377-6c2f7f00-8d21-11e9-8569-8a6d2f529ba1.png)

Closing the old juptyer tab before stop/start and the problem

[2019-06-12 21:59] robnagler commented on #182
That's been fixed in JupyterLab 1.0 which will be coming out next week. I don't want to install the alpha version so just type anything for now

[2019-08-09 03:49] JohanCar1sson opened #183 "rsmpi not working"
CapLaserBELLA-001$ hostname
rs14.local
CapLaserBELLA-001$ rsmpi -n 8 python2 flash4
bash: orted: command not found
--------------------------------------------------------------------------
ORTE was unable to reliably start one or more daemons.
This usually is caused by:

* not finding the required libraries and/or binaries on
  one or more nodes. Please check your PATH and LD_LIBRARY_PATH
  setti

[2019-08-09 13:56] robnagler commented on #183
You need to restart your server. It is still running the old image. Please let me know if rsmpi works after that.

[2019-08-09 15:52] JohanCar1sson commented on #183
How do I restart the server? Logging out from jupyter and logging back in didn't do it.

[2019-08-09 16:09] bruhwiler commented on #183
You want to open the hub control panel and see something like the following:

![image](https://user-images.githubusercontent.com/3825435/62792939-98e7e480-ba8d-11e9-89f0-4cdf13670939.png)

Press 'stop server' and then you'll be able to restart.

It's funny, because I restarted my server and now the UI is quite different.
Getting to the hub control panel requires a different workflow.

[2019-08-09 16:34] JohanCar1sson commented on #183
OK, found it! It's "File" -> "Hub Control Panel". Not sure what "hub" that is, but it had the bright magic button I needed!

[2019-08-09 16:37] JohanCar1sson commented on #183
At least I get a different MPI error now!

CapLaserBELLA-001$ rsmpi -n 8 python2 flash4
[mpiexec@rs14.local] match_arg (utils/args/args.c:159): unrecognized argument mca
[mpiexec@rs14.local] HYDU_parse_array (utils/args/args.c:174): argument matching returned error
[mpiexec@rs14.local] parse_args (ui/mpich/utils.c:1596): error parsing input array
[mpiexec@rs14.local] HYD_uii_mpx_get_parameters (ui

[2019-08-09 17:10] robnagler commented on #183
You need to recompile flash with mpich. [See recent release notes](https://github.com/radiasoft/jupyter.radiasoft.org/issues/50)

[2019-08-09 17:12] robnagler commented on #183
This was a discussion topic at the recent Jupyter workshop. I think it's in the wrong place...

[2019-08-09 17:51] JohanCar1sson commented on #183
But I'm still using Flash 4.5. Why did OpenMPI mpiexec stop working?

[2019-08-09 17:56] robnagler commented on #183
Please see https://github.com/radiasoft/sirepo/issues/1750

I believe Flash supports MPICH. At least they say they do.

[2019-08-09 18:37] JohanCar1sson commented on #183
Alright, I'll try Flash 4.6.1 built w/ MPICH. Thanks!

[2019-08-09 18:48] ncook882 commented on #183
Let me know how this goes @JohanCar1sson . I'm planning to upgrade to Flash 4.6.1 shortly. It has some potentially valuable improvements to computing magnetic resistivity at lower densities.

[2019-08-09 19:16] robnagler commented on #183
I don't know if you know this, but HYPRE 2.11 is [built into the server](https://github.com/radiasoft/container-beamsim). This should save you time compiling FLASH.

[2019-08-10 03:26] JohanCar1sson commented on #183
Looks like hypre was built w/ OpenMPI, but rsmpi is using mpich mpiexec. Is that correct?

[2019-08-10 14:35] robnagler commented on #183
Hypre was built with mpich2. OpenMPI is not in our Jupyter image so Hypre couldn't have been compiled with it.

Hypre is installed by our software in `~/.local/lib/libHYPRE.a` and `~/.local/include`. Is this the version you are using?

[2019-08-12 14:16] JohanCar1sson commented on #183
No, I was using /home/vagrant/jupyter/local/hypre-2.15.1/lib/libHYPRE.a

I'm using the mpich built hypre now. Still won't build Flash, but not due to OpenMPI/mpich incompatibility, so I'm closing this issue.

Thanks!

[2019-08-12 15:16] JohanCar1sson commented on #183
OK, I'm reopening. I now get a different mpiexec error:

CapLaserBELLA-001$ rsmpi -n 8 flash4
[mpiexec@rs14.local] match_arg (utils/args/args.c:159): unrecognized argument mca
[mpiexec@rs14.local] HYDU_parse_array (utils/args/args.c:174): argument matching returned error
[mpiexec@rs14.local] parse_args (ui/mpich/utils.c:1596): error parsing input array
[mpiexec@rs14.local] HYD_uii_mpx_get_paramete

[2019-08-12 16:41] robnagler commented on #183
Looking into this.

[2019-08-12 17:36] robnagler commented on #183
@JohanCar1sson try it now

[2019-08-12 17:48] JohanCar1sson commented on #183
Should I restart the server?

CapLaserBELLA-001$ rsmpi -n 8 flash4
[proxy:0:0@fnl24b.bivio.biz] HYDU_sock_connect (utils/sock/sock.c:146): unable to get host address for rs14.local (1)
[proxy:0:0@fnl24b.bivio.biz] main (pm/pmiserv/pmip.c:185): unable to connect to server rs14.local at port 33103 (check forfirewalls!)

[2019-08-12 17:54] robnagler commented on #183
Looking into it...

[2019-08-12 18:25] robnagler commented on #183
Try again. I executed in your container and works fine. Our alpha and beta systems are configured slightly differently, which is why I didn't detect his particular case.

[2019-08-12 18:34] JohanCar1sson commented on #183
rsmpi works again! The only difference between new mpich rsmpi and the old OpenMPI one is that the current directory is no longer automatically added to the search path for executables. That is I had to prefix a dot slash for mpiexec to find the flash4 executable in the current directory:

rsmpi -h 2 -n 8 ./flash4

Life is good again, thanks!

[2019-08-12 19:02] robnagler commented on #183
Great, sorry for the trouble. Good to know about the ./.

[2019-08-12 19:02] #183 closed

[2019-08-25 18:55] robnagler commented on #182
Fixed in JupyterLab 1.x

[2019-08-25 18:55] #182 closed

[2019-08-25 18:59] robnagler commented on #180
Maybe not send an email. Would be nice to expand admin panel to note that slots are full.

[2019-09-27 22:58] robnagler opened #184 "Remove beaker_compat dirs"
Depends on https://github.com/radiasoft/rsconf/issues/95

[2019-09-30 15:03] JohanCar1sson opened #185 "Problem with Flash 4.6.1 linked with mpich on jupyter"
I had a Flash 4.6.1 simulation die from an MPI error halfway through on jupyter (error msg at bottom of this post). The exact same simulation runs fine on my home office Linux workstation. The crash on jupyter is reproducible: two different simulations, ran on different days, experienced the same error on the same time step.

Flash 4.6.1 was built with mpich 3.2.1 on both machines and simulation i

[2019-09-30 19:03] robnagler commented on #185
I need to know how to run the example. I can get into your directory so if you can tell me which directory and the command line, I can figure it out.

I saw something about [MPIR_CVAR_CTXID_EAGER_SIZE](https://lists.mpich.org/pipermail/discuss/2013-July/003621.html) relate to FLASH so I'll try that first.

[2019-10-01 04:13] JohanCar1sson commented on #185
I think it's safer to test in a fresh directory (I've noticed that overwritten data is a bit corrupted).
So:
$ cd /home/vagrant/jupyter/flash/FLASH4.6.1
$ ./setup -auto CapLaserBELLA -2d -nxb=28 -nyb=28 +hdf5typeio species=fill,wall +mtmmmt +usm3t +mgd mgd_meshgroups=6 -parfile=bella_setup.par -objdir=MpichTest +laser ed_maxPulses=1 ed_maxPulseSections=4 ed_maxBeams=1
$ cd MpichTest
$ make
$ mpiex

[2019-10-01 04:17] JohanCar1sson commented on #185
Correction: the two cases that crashed had resolution "-nxb=32 -nyb=32" and " -nxb=24 -nyb=24", respectively. So use the latter, it will run faster,

$ ./setup -auto CapLaserBELLA -2d -nxb=24 -nyb=24 +hdf5typeio species=fill,wall +mtmmmt +usm3t +mgd mgd_meshgroups=6 -parfile=bella_setup.par -objdir=MpichTest +laser ed_maxPulses=1 ed_maxPulseSections=4 ed_maxBeams=1

etc.

"-nxb=28 -nyb=28" would p

[2019-10-30 22:26] robnagler opened #186 "Keras timing: GPU, TPU, and CPU"
Thanks @cfederer for [the benchmark program](https://github.com/radiasoft/devops/files/3791326/GPU_Timer.zip)!

- [x] Establish baselines on single core (macbook is fine)
- [x] Run multi-core on in-house nodes (two node classes)
- [x] AWS GPUs
- [ ] GCP TPUs
- [ ] Consider GCP GPUs (probably the same as AWS)

[2019-11-05 15:58] JohanCar1sson commented on #185
I spun up a new server last Friday, and this issue persists. Should the mpich library be rebuilt with the value of MPIR_CVAR_CTXID_EAGER_SIZE increased?

[2019-12-06 22:29] robnagler opened #187 "Unchecked destroy/cancel to designhints"
@e-carlin wrote:

[2019-12-09 16:29] e-carlin commented on #187
Done https://github.com/radiasoft/pykern/wiki/DesignHints#unchecked-destroycancel

[2019-12-09 16:29] #187 closed

[2019-12-09 16:51] robnagler commented on #187
Minor changes. Acronyms like D/C are rarely useful, better to have a word (I replaced with Destroy) that represents the class.

[2019-12-13 04:00] JohanCar1sson opened #188 "Notebook export to PDF not working"
File -> "Export Notebook to PDF" fails with the error message below. A workaround is to export notebook to HTML, then manually convert HTML to PDF.

500 : Internal Server Error
The error was:

nbconvert failed: Pandoc wasn't found.
Please check that pandoc is installed:
http://pandoc.org/installing.html

[2020-01-15 21:48] #64 closed

[2020-01-15 21:48] #86 closed

[2020-01-15 21:48] #103 closed

[2020-01-15 21:48] #118 closed

[2020-01-15 21:49] #119 closed

[2020-01-15 21:49] #147 closed

[2020-01-15 21:49] #157 closed

[2020-01-15 21:49] #162 closed

[2020-01-15 21:49] #175 closed

[2020-01-15 21:49] #184 closed

[2020-01-15 21:51] robnagler commented on #41
Old request. We backup github nightly. This is a good idea, but we would need to automate it to make it work for all repos.

[2020-01-15 21:51] #41 closed

[2020-01-15 21:52] #156 closed

[2020-01-22 21:27] robnagler commented on #188
Notes to myself:

Installed pandoc, but getting:

[code]

[2020-01-22 21:32] dtabell commented on #188
The tcolorbox package is part of texlive.

[2020-01-22 22:01] robnagler commented on #188
There's a list of *sty files that I need to chase down, one at a time. I started doing this, then ran into the issues This probably is the only approach that will work. I installed the full texlive, and it increased the size of my VM by 4G. I don't think that's reasonable to bring that in to be able to use this feature.

[2020-01-22 22:53] dtabell commented on #188
Yes. The full texlive is huge. Putting it on the VM is a non-starter.
Some useful information is at
https://tex.stackexchange.com/questions/329986/
See also `tlmgr`.

[2020-01-22 23:38] JohanCar1sson commented on #188
It might be possible to individually install the needed texlive packages with the Fedora package manager (zypper on openSUSE can do it). Even then it might take a few iterations to get things working. TeX must be sponsored by storage manufacturers!

[2020-01-22 23:46] robnagler commented on #188
I'll debug it, but it is going to take time. I was doing a release of jupyter today so I thought I'd just install pandoc and it would work.

[2020-01-24 16:09] robnagler commented on #186
@cfederer writes:

[2020-01-28 23:15] robnagler commented on #186
Ran some tests on a 16 core (2 x E5-2650 v2 @ 2.60GHz) and 384g.  Setting n_intra+n_inter on keras/tensorflow:

4+4: 11m
8+8: 7.8m
16+16: 5.4m
4+12: 12m
12+4: 6.5m
15+1: 5.5m

At first glance, it seems that scaling is related to n_intra, and giving cores to n_inter is not a good idea.

[2020-02-07 00:28] moellep opened #189 "upgrade OPAL in containers"
Currently we have OPAL version 2.0.1 which is quite old. I checked with Chris and Stephen and we think going to version 2.1.0 would be better.

[2020-02-11 16:20] robnagler commented on #189
@sdwebb @cchall The Wiki [says 2.0.1 is the current release](https://gitlab.psi.ch/OPAL/src/wikis/download-source).

[The tags](https://gitlab.psi.ch/OPAL/src/tags) show OPAL-2.2.0, OPAL-21.11.2019, OPAL-2.0.2. There doesn't seem to be a 2.1.0. Should I use 2.2.0?

[2020-02-11 16:32] moellep commented on #189
What does the version show when building from the master branch: https://gitlab.psi.ch/OPAL/src?

[2020-02-11 18:24] robnagler commented on #189
That says 2.1, but there's no corresponding tag so every time we build, we will get a different version. For example, there was a commit yesterday.

If that's what you want, then say "please build from master", not "version 2.1.0".

I can also take a snapshot, which I update manually. Please specify this, if that's what you want.

[2020-02-11 19:15] cchall commented on #189
I think building off of 2.2.0 is ideal for us.
There is at least one feature listed in the release notes: https://gitlab.psi.ch/OPAL/src/wikis/ReleaseNotes/OPAL-2.2 that might be needed for fastfelo.

[2020-02-12 00:20] robnagler commented on #185
Getting build errors:

[code]

I'll look into this, just documenting here.

[2020-02-12 00:40] robnagler opened #190 "Alpha Release 18:30 MT 2/11/2020"
Update to jspec, opal, and radia

[2020-02-12 01:27] robnagler commented on #190
Holding off.

[2020-02-12 01:27] #190 closed

[2020-02-12 01:35] robnagler opened #191 "Beta job_agent: response from supervisor was None"
The job started, it seemed to have finished. There was an sbatch_status_stop in the run dir. The agent log is below.

When I tried to start the simulation again, it asked to login again, which means that the supervisor never saw the agent, and apparently the agent is not seing the supervisor. The supervisor_uri configure is correct, and I was able to curl the server.

The job was queued and it see

[2020-02-17 20:22] moellep opened #192 "graphviz in sirepo container"
Can we add graphviz to the sirepo container? It is used by the python module pydot which is used by rcscon.

[2020-02-17 20:39] robnagler commented on #192
There seem to be a lot of options, e.g. freetype and Tcl. Are you using it now, if so how is it built?

[2020-02-17 20:45] moellep commented on #192
I used the standard fedora one - "dnf install graphviz". It looks like it is used by the kera's function below.

https://www.tensorflow.org/api_docs/python/tf/keras/utils/model_to_dot

And the call to that in sirepo is:

https://github.com/radiasoft/sirepo/blob/rcscon/sirepo/package_data/template/rcscon/graph.py.jinja#L9

[2020-02-18 18:36] #192 closed

[2020-02-18 20:17] robnagler opened #193 "configure beta basic auth user for sirepo"

[2020-02-19 00:16] robnagler commented on #185
@ncook882 @JohanCar1sson I'm using CapLaserApril062019.tar.gz, which is referencing hy_uhd_addBiermannBatteryTerms in hy_uhd_getFaceFlux.F90, which seems to be a copy of source/physics/Hydro/HydroMain/unsplit/hy_uhd_getFaceFlux.F90 but with significant differences including this:

[code]

I suspect therefore that this file needs to get updated.

@JohanCar1sson if you could give me the file(s) for

[2020-02-19 04:35] JohanCar1sson commented on #185
The issue with CapLaserApril062019.tar.gz was resolved on 09/19/19.

However, my instructions for how to reproduce the error reported in this issue (written down on 10/01/19, but still good, I just tested them) make no mention of that file.

For your convenience, I've made a tarball called "CapLaserBELLA.tgz". There's a copy in my jupyter home dir, as well as in my personal ownCloud folder. The ta

[2020-02-19 16:58] robnagler commented on #185
I was able to build and run the program in my VM and on Jupyter. It prints out a line for each `n`. All four cores are in use.

I built this with 4.6.2, because that's the version I had. I can try with 4.6.1, but I suggest that if this works, then it might be better to use 4.6.2.

@JohanCar1sson I uploaded a build script with everything in it in your Jupyter folder. You can:

[code]

[2020-02-20 23:20] moellep opened #194 "need shadow3 for blicon project"
The glicon project needs shadow3. Fixing it to compile with the latest gfortran seems impractical. Could we do a special compile for it using an older compiler. Maksim mentioned using conda as a possibility.

Both Boaz and Nick would like to use shadow3 with their juptyer notebooks.

[2020-02-20 23:45] robnagler commented on #194
There is a fork that supposedly works. I'll look into it.

We don't want to mess with Conda on Fedora, rather we can get different versions of compilers via dnf.

[2020-02-22 01:30] robnagler commented on #194
I just tried to `pip install shadow3` with a regular install of `xraylib` in py3. It was missing `libgfortran.so.4`, which I found in compat-libgfortran-41 on Fedora 29. But, unfortunately, they forgot to build [libquadmath](https://bugs.centos.org/view.php?id=15241), and `sqrtq` (float 128) is missing.

shadow_bind_python.c is using deprecated and some deleted numpy interfaces:

[code]

NPY_OWNDA

[2020-02-22 22:23] moellep commented on #194
Looks like replacing xraylib from template.shadow would be easy. It is only used to get a list of material names. That could get removed, put in the schema and validated on the client.

[2020-03-04 00:59] robnagler commented on #194
Shadow is working on Fedora 29. I had to recompile gcc-7.5.0 to get one file: libgfortran.so.4. With that, a `pip install shadow3` and a few twiddles to the way shadow is executed, and it works with job_cmd running in py3. The srxraylib isn't needed for the example I used. This looks good:

![Screen Shot 2020-03-03 at 5 58 03 PM](https://user-images.githubusercontent.com/5495179/75834189-937b2000-

[2020-03-04 23:17] robnagler commented on #194
Fix https://github.com/radiasoft/download/commit/a37edc5a79bcbae0ad69f06fd496e12955918158 and https://github.com/radiasoft/sirepo/commit/a39404d4b07d6845bfc447c12adee2e6428e478e

Still need to reinstall with beamsim, but waiting on @moellep to approve fixes.

[2020-03-05 18:24] moellep commented on #194
I've made a few changes to sirepo/shadow and verified all the examples work OK. I've added it back to the list of sirepo apps.

[2020-03-10 17:32] #194 closed

[2020-03-11 22:57] ncook882 opened #195 "Bus error with 3D FLASH simulation on rsmpi"

[2020-03-11 23:20] #195 closed

[2020-04-17 13:53] robnagler commented on #186
I think we have enough data for now.

[2020-04-17 13:53] #186 closed

[2020-04-17 13:53] robnagler commented on #123
No longer an issue.

[2020-04-17 13:53] #123 closed

[2020-04-17 13:54] robnagler commented on #108
Done

[2020-04-17 13:54] #108 closed

[2020-04-17 13:54] #185 closed

[2020-04-17 13:54] robnagler commented on #191
Fixed

[2020-04-17 13:54] #191 closed

[2020-04-23 14:01] JohanCar1sson opened #196 "StaffScratch: Stale file handle"
jupyter$ cd StaffScratch
bash: cd: StaffScratch: Stale file handle

[2020-04-23 15:09] robnagler commented on #196
Please restart your server.

[2020-04-23 17:56] JohanCar1sson commented on #196
That worked, thanks!

[2020-04-23 17:56] #196 closed

[2020-05-01 21:39] robnagler opened #197 "build rscode-rsbeams and radiasoft/beamsim"
Fix https://github.com/radiasoft/rsbeams/pull/25

[2020-05-01 22:05] robnagler commented on #197
radiasoft/beamsim:20200501.214137

[2020-05-01 22:05] #197 closed

[2020-05-06 22:42] robnagler opened #198 "running virtualbox on linux with multiple users"
I can bring up a 10.10.10.10/24 network, but @e-carlin can't. He gets this:

[code]

Every vagrant up, causes a new network to show up, and it blows away my 10/24 network...

[2020-05-07 19:17] robnagler commented on #198
[To remove interfaces](https://stackoverflow.com/a/24025285):

[code]

[2020-05-08 21:44] #189 closed

[2020-05-08 21:45] #159 closed

[2020-05-08 21:45] robnagler commented on #172
Not under our control.

[2020-05-08 21:45] #172 closed

[2020-05-08 21:52] robnagler opened #199 "flashcap: deployment scripts for flash rpms"
- use rsconf local feature
- fix update.sh to promote the rpm
- needs https://github.com/radiasoft/rsconf/issues/112
- store rpm with a link in secret url for dev
- Add roles to StephenC, Nathan, Johan, and David along with sw team.

[2020-05-12 12:48] robnagler opened #200 "flashcap: configure purging of guest simulations on alpha/beta"

[2020-05-12 21:50] robnagler commented on #200
I configured alpha and beta as follows:

[code]

Simulations will only stick around a day for non-premium users, and you'll only get 6 minutes of runtime on parallel. We can extend this once we see that it works.

[2020-05-12 21:50] #200 closed

[2020-05-27 20:14] robnagler opened #201 "Recreate failing kickmap issue on bnl servers"

[2020-05-28 13:30] robnagler commented on #201
Fix will be on https://github.com/radiasoft/download/issues/105

[2020-05-28 13:30] #201 closed

[2020-06-06 01:09] robnagler commented on #199
we're deployed with one known failure #2569

[2020-06-06 01:09] #199 closed

[2020-06-12 16:41] JohanCar1sson opened #202 "rsmpi on jupyter not working for me"
rsmpi -n 8 ./flash4
host 1 (fnl24b.bivio.biz) is unavailable
host 2 (fnl25b.bivio.biz) is unavailable

Your cluster has been reassigned or some nodes are down.
Please contact support for help with this issue.

[2020-06-19 16:33] moellep opened #203 "full stack sample sirepo server install fails"
Following the steps in the Full Stack Sample Server Configuration in the sirepo Development wiki, this step fails:

[code]

[2020-06-19 16:49] moellep commented on #203
Running "vgremove docker" as root and trying again seems to fix the problem. Maybe the "radia_run redhat-docker" is already performed by a prior step?

Continuing the steps, when you get to here:
[code]

The /srv/ directory shows only docker:
[code]

[2020-06-24 01:05] #203 closed

[2020-06-24 01:06] robnagler commented on #203
This was running in an unclean directory which had a persistent volume, but it was not setup properly. You would need to remove the device from virtualbox.

I added a check for this.

[2020-07-03 15:58] robnagler opened #204 "trash directories on jupyter?"
I saw this in a user's jupyter directory: .Trash-1000/. This had info and files directory just like on apple. It was huge so don't know how it got there.

[2020-07-03 16:49] robnagler commented on #204
The directories were from 2018. Maybe a feature that was added. In any event, I deleted them. Freed up quite a bit of disk

[2020-07-03 16:49] #204 closed

[2020-08-04 19:53] moellep opened #205 "add ShadowOui to sirepo container with patches"
Need to "pip install OASYS1-ShadowOui" and then patch two files to remove some imports. Needed for https://github.com/radiasoft/sirepo/issues/2737

[code]

[2020-08-04 20:17] moellep commented on #205
May also need "pip install SYNED".

[2020-08-07 21:03] robnagler commented on #205
PyQt5 is 213MB. If we uninstall that package after installing ShadowOui, will your code still work? PyQt5 cannot be invoked inside Sirepo.

[2020-08-07 21:19] moellep commented on #205
Yes it will work without PyQt5. That's why I installed it with --no-deps. The patch lines above comment out the parts which import pyqt.

[2020-08-11 20:24] robnagler opened #206 "Build beamsim"
@moellep let me know of the rscode-shadow3 works, and I'll build beamsim.

[2020-08-11 21:33] moellep commented on #206
Works great - thanks for adding this.

[2020-08-11 21:50] robnagler commented on #206
built.

[2020-08-11 21:50] #206 closed

[2020-08-21 14:23] robnagler opened #207 "setup cpu-016 as prod"
- [x] prune old reports on cpu-001
- [x] setup prod config
  - [x] same secrets
  - [x] job supervisor config (multi-day run times)
  - [ ] local job driver with multiple slots
- [x] copy data over
- [x] start server

[2020-08-21 14:25] robnagler opened #208 "setup gpu-002 as test"
- [x] setup vagrant user
- [x] setup docker daemon.json
- [x] verify build
- [x] configure server same as cpu-016

[2020-08-24 16:28] robnagler opened #210 "site24x7 duplicate requests"
First request started 16:15:32 and then another at 16:15:42. The server answered properly "another browser is running the simulation".

[code]

[2020-08-24 16:37] robnagler opened #211 "Review new docker policies"
- Free plan – anonymous users: 100 pulls per 6 hours
- Free plan – authenticated users: 200 pulls per 6 hours
- Free accounts may retain inactive images for up to 6 months

Look into open source plans: https://www.docker.com/blog/scaling-dockers-business-to-serve-millions-more-developers-storage

[2020-08-24 16:42] robnagler commented on #210
Sent email to site24x7

[2020-08-25 13:28] robnagler commented on #210
I suspended the monitor, because it started happening more often.

[2020-08-28 14:58] robnagler commented on #210
From Site24x7. I'll close the issue. I'll restart the monitor in a week.

[2020-08-28 14:58] #210 closed

[2020-09-12 16:36] #208 closed

[2020-09-21 22:08] robnagler commented on #207
Done

[2020-09-21 22:08] #207 closed

[2020-10-27 21:01] moellep opened #212 "sirepo travis build failed"
https://www.travis-ci.org/github/radiasoft/sirepo/builds/739356183
[code]

[2020-10-28 14:46] robnagler commented on #212
The commit that triggered the build was:

[code]

The first date in the travis log is 1603823002798020940:

[code]

It was queued for over an hour. pkcli.github [looks for a commit in the last 60 minutes](https://github.com/radiasoft/pykern/blob/0745ec1077e5c451d8bcd3cfd547055bb62e9c0d/pykern/pkcli/github.py#L107), which obviously didn't happen.  I think there's a reason for this 60 minutes, but I

[2020-11-05 00:21] dtabell opened #213 "Building FEniCS in VM"
For the SILAS project, we need to solve 3D PDE's.
I want to test [FEniCS](https://fenicsproject.org/).
One attraction of FEniCS is that it has a JupyterLab interface.
I can't use the docker image on the RS Jupyter server, so
am trying to build on my VM.

At the moment, this is not working for me, so help/ guidance
will be much appreciated.

[2020-11-05 04:02] dtabell opened #214 "Building FEniCS in a VM"
For the SILAS project, we need to solve 3D PDE's.
I want to test [FEniCS](https://fenicsproject.org/).
One attraction of FEniCS is that it has a JupyterLab interface.
I can't use the docker image on the RS Jupyter server, so
am trying to build on my VM.

At the moment, this is not working for me, so help/ guidance
will be much appreciated.

[2020-11-06 01:04] robnagler commented on #213
I started on this, but I had a lot of meetings today so probably finish tomorrow.

[2020-11-07 01:54] robnagler commented on #213
Fix https://github.com/radiasoft/download/commit/a3e3de536cd136856c964a884d4d22f214c3b963 but need to build first, which is happening now.

[2020-11-07 02:59] robnagler commented on #213
@dtabell run these two commands on your VM:

[code]

The first one is necessary, because there were conflicts with packages that have to be resolved first. The second installs fenics, mshr, dolfin, petsc, and slepc.

Please let me know if this works.

[2020-11-11 21:12] robnagler commented on #214
Dupe of #213

[2020-11-11 21:12] #214 closed

[2020-11-11 21:13] robnagler commented on #213
fenics not working:

[code]

Fixes in https://github.com/biviosoftware/home-env/commit/1b6c61ca2bb91ea166237e6a4d0bd20c328add2a and https://github.com/radiasoft/download/commit/53cf8c1027c4718ac59853203b568559a501c834 and https://github.com/radiasoft/container-beamsim-jupyter/commit/be5c142d2388f4ec5400fedce0d26ba76f7b4dbb

Builds happening now.

[2020-11-11 23:43] robnagler commented on #213
@dtabell are you up and running?

[2020-11-11 23:54] robnagler commented on #213
Yup.

[2020-11-11 23:54] #213 closed

[2020-11-30 22:56] sjcrs opened #215 "Compiling Flash on Cori with Intel compilers"
I'm trying to investigate whether or not an error we're getting on Cori runs is related to the choice of compiler. I'm using the recommended Cray compiler targeting the Cori Haswell machines, but I'd like to see what happens when we use the Intel compiler. The crash I'm seeing is related to accessing an array element outside of the array's bounds (sorry I don't have the exact error handy at the mo

[2020-12-01 17:47] robnagler commented on #215
I'm getting an error:

Unit magnetoHD/CapLaserBELLA not found

Did you change anything in rsflash? I see symlinks to CapLaser3D and CapLaserBELLA, which I could get from rsflash if they haven't changed.

[2020-12-01 18:34] sjcrs commented on #215
Ah, I had symlinked that into magnetoHD but i guess the zip doesn't do a deep copy.  It is straight from rsflash with no changes.

[2020-12-02 00:44] robnagler commented on #215
Now I'm getting warnings about incorrect compiler flags:

[code]

These are gfortran flags. Did you get these warnings?

I tried using PrgEnv-gnu but metis is not compiled. I'm not sure why that's necessary for hypre. It isn't in our build.

I'm going to experiment with compiling in shifter and see how that goes.

[2020-12-02 02:01] robnagler commented on #215
I'm getting a different error running in shifter:

[code]

Let me know if this is useful. I have scripts to build and submit.

[2020-12-02 02:23] sjcrs commented on #215
I did get some compiler warnings, and if 1) one of those flags is setting the max acceptable int and 2) those flags are not accepted by the intel compilers, that might explain why I had to change that MAX_INT analogous value. I should research the analogous flags for Intel.

Sorry, I don't know how to interpret that FPE you're getting in Shifter.

[2020-12-02 02:50] robnagler commented on #215
I found [a thread from 2010](http://flash.uchicago.edu/pipermail/flash-users/2010-May/000691.html) related to some errors I'm seeing:

[code]

I tried running sequentially. It generates a huge log file with lots of these errors.

This line which gets the FPE is related:

[code]

Or at least it seems to me, because there are lots of references to `unk(ENER_VAR)` in the log.

Are you sure the config

[2020-12-02 03:11] sjcrs commented on #215
If you look in the build script there are some kernel modules commented out. With those commands loading the Cray compiler set, and by changing the names of the compilers defined in Makefile.h to match, it works. At least for a couple of hours on a Haswell node, and then it crashes. This is the underlying problem I'm trying to debug that sent me down this intel compiler path.

[2020-12-02 14:52] robnagler commented on #215
My concern is that it crashes right away with an FPE on 32 cores in our environment. That could be a clue there's something wrong. I just ran the same config on 4 cores on our own servers, and it crashed in a similar location. it could be this has to do with the incorrect number of cores. Is that true?

[code]

[2020-12-02 15:43] sjcrs commented on #215
Four might not be enough once it starts stepping through time, but it's smart enough to throw an error informing you that you need more cores. What you show above is crashing fairly early in the initialization sequence.  We do have a site-specific Makefile.h for our cluster. If your setup command in the build script is still explicitly calling the cori.nersc.gov sitefile, there could be many issue

[2020-12-02 21:22] robnagler commented on #215
No I removed the site file. I setup the Makefile.h with a patch using Linux as a base. It's the same as we use to build for Sirepo.

[2020-12-02 22:48] dtabell opened #216 "3D viz for FEniCS in Jupyter notebooks."
As part of the silas project, I am working with the open-source PDE solver [FEniCS](https://fenicsproject.org/) in my VM and using Jupyter notebooks to organize, annotate, and render graphical displays of numerical results.

The FEniCS computations seem to be working. My example I checked into [rslaser](https://github.com/radiasoft/rslaser/tree/master/examples/notebooks/thermal_transport). One of

[2020-12-02 23:09] mkeilman commented on #216
I'm going to look at warpvnd, which uses unstructured meshes for some of its visualizations

[2020-12-02 23:43] robnagler commented on #216
This is a priority.

[2020-12-03 00:12] cchall commented on #216
If you're using triangular meshes I've had good success with plotly, which we already have installed, for 3D visualization in notebooks.
![image](https://user-images.githubusercontent.com/17073688/100946836-761ee200-34c1-11eb-8753-bbaaf3117313.png)

[2020-12-09 22:46] ncook882 opened #217 "Upgrade HDF5 to avoid a potential issues with HDF5 1.8.20."
Running the CapLaser3D simulation (with a 2D geometry) on Jupyter on 16 cores produced a crash with the following error:

[code]

I've received this error for more than one set of runtime parameters, and @sjcrs recently received a similar error as well.

@sjcrs noted that this error has been seen with our version of HDF5 [elsewhere](https://cgnsorg.atlassian.net/browse/CGNS-109) and that it could

[2020-12-09 23:26] robnagler commented on #217
Currently we use the HDF5 packages that come with Fedora 29, which is quite out of date. The best thing would be to update to Fedora 32 so that it would fix this issue without having to build HDF5 ourselves (which is complicated because it integrates with MPI, etc.).

I created https://github.com/radiasoft/download/issues/131 to track the issue.

[2020-12-11 18:05] ncook882 commented on #215
@robnagler and @sjcrs what's the status with this issue? Do we need to schedule a meeting to discuss further?

[2020-12-11 19:23] robnagler commented on #215
I think we have a lot of issues. HDF5 is the one I'm working on, which will fix the root issue, I believe. I think the Intel compiler is a red herring. I am concerned about the shifter version, but I'd like to focus on fixing the HDF5 issue first, and then we'll see about how it works on NERSC.

[2020-12-11 19:38] sjcrs commented on #215
I tried a few things and was unable to make more progress with Intel compilers on Cori. I'm ok with setting that aside.

I ran the 2d embedded boundary script that generates the HDF5 issue on Cori and had no problems in the 30 minute debug queue. I have a longer test scheduled (should run tonight)

[2020-12-16 23:48] robnagler commented on #217
Many of the codes are compiling, but still haven't compiled shadow, which is a tricky one. I probably will be at this for another week at this pace.

[2020-12-19 00:36] robnagler opened #218 "update radiasoft/warp?"
Compiling radiasoft/warp gets this error, but berkeleylab/warp does not:

[code]

What's the status of our branch?

[2020-12-19 00:44] robnagler commented on #218
berkeleylab/warp complains, too:

[code]

[2020-12-19 00:46] robnagler commented on #218
https://github.com/Unidata/netcdf-fortran/issues/212#issuecomment-623046448 will fix it, probably

[2020-12-19 00:49] ncook882 commented on #218
@robnagler I haven't built either in a while, but our fork shouldn't have different requirements from the Berkeley fork, AFAIK. @cchall have you built it recently?

[2020-12-19 00:59] cchall commented on #218
I have not built Warp in quite a while

[2020-12-19 01:09] robnagler commented on #218
Fixes the build script: `perl -pi -e 's{^FARGS.*}{FARGS=--farg -fallow-argument-mismatch}' Makefile.Forthon3 Makefile.Forthon3.pympi`

This is for fedora 32, which uses gcc10

[2020-12-19 01:09] #218 closed, assigned to ncook882

[2021-01-29 23:05] robnagler commented on #217
Done

[2021-01-29 23:05] #217 closed, assigned to robnagler, sjcrs

[2021-02-10 23:13] robnagler opened #219 "travis-ci.org shutting down"
We use Travis a bit, but it's quite decoupled. It might just work, but we'll see...

[2021-02-10 23:40] robnagler commented on #219
Consider using GitHub CI

[2021-02-11 00:59] robnagler commented on #219
Played with GitHub Actions, and they are a bit strange, considering they are tied to a repo. You have to initiate a checkout. The file is [.github/workflows/go.yml](https://github.com/robnagler/ci-play/blob/03b843059628b340426ff5dd8238ffb5dc22dcc7/.github/workflows/go.yml):

[code]

I don't think it's going to work for sirepo or pykern, because [any user with write access to your repository has re

[2021-03-16 17:35] robnagler opened #220 "workspace does not work with youtube"

[2021-03-16 17:37] robnagler commented on #220
Joy. The [google support answer](https://support.google.com/a/answer/9000768) is:

I'm closing because there's nothing we can do except run YouTube in a different browser that is not logged in...

[2021-03-16 17:37] #220 closed, assigned to nobody

[2021-03-22 15:36] e-carlin commented on #220
FWIW - I'm late to the game but I added my @radiasoft.net email to the gmail app on ios. YouTube videos wouldn't play on Safari on my phone. Turns out by adding my @radiasoft.net address to the gmail app I became signed in to Google in Safari. Going to google.com in Safari and signing out solved it.

[2021-04-13 22:43] robnagler opened #221 "rootless docker for nodes"
https://docs.docker.com/engine/security/rootless/

[2021-04-13 23:08] e-carlin commented on #221
Exciting! FYI - need to use cgroupsv2 to be able to constrain resources in containers (ex --cpus) which we use in Sirepo. https://docs.docker.com/engine/security/rootless/#limiting-resources

[2021-04-13 23:14] robnagler commented on #221
Argh:

[code]

[2021-04-13 23:14] #221 closed, assigned to nobody

[2021-04-23 20:41] robnagler opened #222 "intro development and software"
need an overview doc about how we work (jupyterhub or vagrant/vb, depending)

[2021-05-07 18:49] robnagler opened #223 "webhook for issue updates"
travis is getting slower and slower. create a webhook server that runs travis.sh, i.e.

[code]

[2021-05-12 19:40] dtabell opened #224 "gpu-jupyter kernel restarts for no apparent reason"
I have a [notebook](https://github.com/radiasoft/bnl_ml/blob/master/ml/IM_injector/IM_inj_operations_20210308.ipynb) that works fine on the Sirepo Jupyter server.
However, when I run the same notebook on the gpu-Jupyter server,
it restarts the kernel partway through the notebook:
![image](https://user-images.githubusercontent.com/11483676/118034465-3d641e00-b327-11eb-8cfd-07aa574241c0.png)
This is

[2021-05-12 19:58] cchall commented on #224
I see the same thing. Looks like all the GPUs might be in use by other notebooks right now?

[code]

[2021-05-12 20:12] robnagler commented on #224
There's a slack channel #ext_gpu to discuss allocations.

[2021-06-11 20:17] moellep opened #225 "mongodb on jupyter for sirepo-bluesky"
On jupyter, users want to run sirepo-bluesky:

https://github.com/NSLS-II/sirepo-bluesky

This requires connecting to a mongdb service for calls such as RE(bp.grid_scan(...)) from the example notebook documented on the sirepo-bluesky readme.

On dev, I was able to get this to work by running "dnf install mongodb-org" and running the service using systemctl. I don't know what the steps would be to

[2021-06-21 21:55] moellep opened #226 "lz4-devel and nexusformat/HDF5-External-Filter-Plugins"
The CHX beamline data is compressed using a LZ4 hdf5 filter.

In addition to the mongodb, we'll need:

nexusformat/HDF5-External-Filter-Plugins built with -DENABLE_LZ4_PLUGIN=yes

which requires "dnf install lz4-devel"

(This is for jupyter users)

[2021-06-22 14:34] robnagler commented on #226
I think we may not want this on by default. It might be picked up by all h5 utility users so new files might get compressed with lz4, and be incompatible with other apps.

[2021-06-22 22:18] moellep commented on #226
Yes, I think we should keep it off by default. In a jupyter notebook, you can use the %env command to setup the plugin search as the first command, for example:

[code]

[2021-06-22 23:42] robnagler commented on #226
I think we'll want a "setup bluesky" script (@e-carlin is working on this) that will also start mongodb. We can have it put the HDF5_PLUGIN_PATH in the users's environment `~/jupyter/bashrc`, which gets loaded before juptyerlab starts so it gets inherited. We will need to tell them to stop/start their server.

We don't want them putting that path in every notebook.

[2021-06-27 13:14] abdoudiaw opened #227 "Installing Smilei on Sirepo"
I am trying to install [smilei](https://smileipic.github.io/Smilei/installation.html) (pic) code on sirepo. All the needed dependencies are already installed. But when linking the exec file with my python, I got this error:

[code]

Any idea how to fix this?

The code lives here:
/home/vagrant/jupyter/StaffScratch/diaw/Smilei

[2021-06-28 17:01] e-carlin commented on #227
@abdoudiaw if you use `LDFLAGS="-L /home/vagrant/.pyenv/versions/3.7.2/lib/" make` that should work. Reopen and lmk if not.

[2021-06-28 17:02] #227 closed, assigned to e-carlin

[2021-07-05 14:12] dtabell opened #228 "Update Mad-X"
On Jupyter, the currently installed version of Mad-X is 5.05.01, which is two years old.
Would it be possible to update to a more recent version? The latest release is 5.07.00.
https://github.com/MethodicalAcceleratorDesign/MAD-X

[2021-07-19 16:23] moellep opened #229 "sirepo prod release wordpress_host failure"
Running update.sh prod sirepo is failing with missing wordpress config:

[code]

[2021-07-19 16:56] robnagler commented on #229
I was in the midst of an rsconf update. sorry

[2021-07-19 16:56] #229 closed, assigned to nobody

[2021-07-20 19:46] moellep opened #230 "replace travis-ci.org with something"
It looks like the last three alpha releases have no comment. I manually added info from the pull requests to the most recently closed alpha release.

[2021-07-20 20:09] robnagler commented on #230
travis-ci.org is now in readonly mode. Apparently they didn't transfer our stuff over. May be time to get buildbot or something else going on our side.

[2021-07-20 20:33] robnagler commented on #230
@moellep you can run `bash sirepo-issue.sh` any time, and it'll bring in all commits in the last 24 hours. I'll have it running as a part of patrol.sh.

[2021-07-20 20:37] robnagler commented on #230
Also deleted the webhooks for pykern and sirepo because they were printing red checkmarks on the commits incorrectly.

[2021-07-22 22:17] robnagler commented on #223
Repalced by https://github.com/radiasoft/devops/issues/230

[2021-07-22 22:17] #223 closed, assigned to robnagler

[2021-08-06 18:30] ncook882 opened #231 "RayData - library modifications required to run analysis notebooks"
I've updated the raydata repo to include a cleaned up version of the [XPCS analysis notebook](https://github.com/radiasoft/raydata/blob/main/AnalysisNotebooks/XPCS_SAXS/XPCS_SAXS.ipynb) for the CHX beamline.

To run the notebook on beamsim, a number of libraries must be installed, and several patches applied.

1. pip install the following:
- `databroker-pack`
- `pychx`
- `ModestImage`
- `xray-visi

[2021-08-06 19:13] e-carlin commented on #231
Thanks for the details @ncook882. Couple questions:

1. Can you give me access to the raydata repo? I get a 404 currently.
2. What would you like me to do with this stuff? Would you like it all to be installed in beamsim so you don't have to manually do these steps?

[2021-08-06 19:17] ncook882 commented on #231
Thanks @e-carlin.

1. I've added you to the repo with write access.
2. That's correct. It would be nice if the beamsim container could support the execution of these notebooks by default. You don't have to worry about pre-loading the data or mask files though.

[2021-08-06 21:26] ncook882 opened #232 "RayData - RPMs for launching IPython with appropriate environment"
This is a follow-up issue to #231.

We need to be able to launch an IPython instance from a Sirepo application which will execute an XPCS analysis notebook such as the [example notebook](https://github.com/radiasoft/raydata/blob/main/AnalysisNotebooks/XPCS_SAXS/XPCS_SAXS.ipynb) in the raydata repo.

According to @robnagler, this requires updates to the RPMs included in beamsim, such that when the

[2021-08-06 21:44] robnagler commented on #232
@e-carlin please package the IPython install in an RPM including the config for the kernels, which might be necessary. You should be able to run nbviewer with the right version for JupyterLab (not packaging JupyterLab, which is distinct and more complicated). We can discuss when you are ready.

[2021-08-09 20:56] bnash commented on #231
Two minor bugs in notebook:
In cell below "Specify directories for masks and saving results"
- chx_export_parth -> chx_export_path
- username  is defined in cell below, after it is needed

[2021-08-09 22:19] ncook882 commented on #231
@bnash these have been fixed in https://github.com/radiasoft/raydata/commit/b3fdef2b0ac9dc190396c203bf868b4c430462a4

[2021-08-10 21:27] e-carlin commented on #231
@robnagler I'm going to package this all up in an rpm. Also, since we don't have an immediate plan to use mongo and it seem lz4 pertains more to this than to mongo I'm going to move the lz4 install out of mongo and into this rpm. Sound good?

[2021-08-10 21:46] robnagler commented on #231
You know more about this than I do. :)

[2021-08-13 15:08] #231 closed, assigned to robnagler, moellep, e-carlin

[2021-08-16 19:50] moellep opened #233 "sirepo landing pages not moving from alpha to beta2"
It looks like the sirepo landing page changes weren't promoted during the last beta release, so they did not make it to prod today. What process promotes the landing pages?

[2021-08-17 02:45] robnagler commented on #233
There are many steps the first time:

- WPEngine has to allow us to reverse proxy
- Vermilion has to update the site url
- We update rsconf yaml

I'll take care of this tomorrow.

[2021-08-23 22:31] ncook882 opened #234 "Jupyter restarts should preserve databroker-unpack operations"
Executing the [CHX example analysis notebook](https://github.com/radiasoft/raydata/blob/main/AnalysisNotebooks/XPCS_SAXS/XPCS_SAXS.ipynb) requires the unpacking of specific beamline data via the databroker-unpack command, for example:

`databroker-unpack inplace /home/vagrant/jupyter/RayData/chx-export/ chx`

Restarting a Jupyer server erases certain files generated during this process, requiring

[2021-08-24 15:48] robnagler commented on #233
done. we are still waiting to move to prod but that will be handled elsewhere.

[2021-08-24 15:48] #233 closed, assigned to robnagler

[2021-08-27 13:32] #232 closed, assigned to robnagler, e-carlin

[2021-09-07 20:48] e-carlin opened #235 "gpu server cannot start new processes"
This has happened a couple of times now on our gpu server. A user will try to start a new computation using the gpus and the processes will crash. Killing a user's docker container that is not currently in use seems to fix the problem.

One hunch is that notebook kernels lock up gpu resources. Eventually this reaches a point where no new jobs can start.

Before killing the container `nvidia-smi` s

[2021-09-07 22:21] robnagler commented on #235
Do we expect the GPUs to be shared? V100s don't have partitioning afaik. The `with` is probably not working right, and we probably need to lock/unlock the GPUs in our own contextlib

[2021-09-08 15:03] e-carlin commented on #235
Not sure. I suppose just using the slack channel to determine sharing fine.

Is there specific code for this you can point me towards or are you talking in an abstract sense?

[2021-09-08 15:24] robnagler commented on #235
I don't see how the GPUs could be shared, frankly, but maybe tensorflow is smart about that.

I was talking about this code:

[code]

Maybe this will help https://github.com/tensorflow/tensorflow/issues/1578

[2021-09-17 19:45] dtabell opened #236 "In Jupyter notebook, all cell ids change on save."
This problem means that `git diff` on a `.ipynb` file can report many changes even in the absence of any “real” change in the notebook. Aside from the `diff` noise, it means the file hash changes and `git` tells me I need to commit the “updated” file.
[This issue](https://github.com/jupyterlab/jupyterlab/issues/9645), opened on 20 January in the [JupyterLab repo](https://github.com/jupyterlab/jupy

[2021-09-17 20:09] robnagler commented on #236
It looks like this fix is part of JupyterLab 4.0, which [has yet to be released](https://github.com/jupyterlab/jupyterlab/projects/12).

The problem is the newest ipython version added cell ids, but jupyterlab wasn't updated to support them so they get regenerated each time. JupyterLab should 4.4, not 4.5.

I don't think there's an easy fix for us.

[2021-09-17 20:30] dtabell commented on #236
I'm confused: they’re working on 4.5, but have not released 4.0?

Anyways, I came across the following possibility:
https://github.com/jupyterlab/jupyterlab/issues/9729#issuecomment-806170280
Have not yet tried it.

[2021-09-17 20:51] robnagler commented on #236
Notebook version 4.5. JupyterLab version 4.0.

This is part of our version hell. We will need to downgrade ipython to match this. It's not as easy as:

`python -m pip install --upgrade 'nbformat<5.1.2'`

[2021-09-18 00:16] dtabell commented on #236
I guess that means for now we
[code]
(or similar) before committing our notebooks in JupyterLab.

[2021-11-19 17:53] e-carlin commented on #224
Related radiasoft/ops#652

[2021-12-02 16:56] robnagler opened #237 "Automate update of OOO calendar"
@jeinstei found [googleworkspace/vacation-calendar](https://github.com/googleworkspace/solutions/tree/master/vacation-calendar), which can one calendar by looking for patterns (OOO, Vacation, etc.) in all calendars in a google group. We tried to get this to work, but it failed on my account (but worked on @jeinstei's). Need to debug.

[2021-12-09 17:13] moellep opened #238 "update.sh beta fails with TypeError"
[code]

[2021-12-09 17:57] robnagler commented on #238
is this the same as https://github.com/radiasoft/pykern/issues/114?

[2021-12-09 18:01] moellep commented on #238
No, this is different. The alpha built OK, but the promotion to beta failed.

[2021-12-23 16:24] robnagler opened #239 "build jupyter-nvidia"
See https://github.com/radiasoft/container-jupyter-nvidia/pull/8

[2021-12-23 17:45] robnagler commented on #239
Deployed.

[2021-12-23 17:45] #239 closed, assigned to robnagler

[2022-01-03 21:33] jeinstei commented on #237
For full details, here's what I've been working with:

Calendar: https://calendar.google.com/calendar/embed?src=c_nqupl3hjpgrmuapid1hi3ct458%40group.calendar.google.com
Script Project: https://script.google.com/d/1G22DrlC-0y_Ak6jVj0xZh6mNc2jmfs9EQUimjX1RtKVpxfSAZnD0q0C4/edit?usp=sharing

[2022-01-03 21:41] jeinstei commented on #235
Just a comment, but pytorch seems to generally have better memory management, and Voltas can share jobs on a single GPU if the `nvidia-cuda-mps-control` daemon is running. I think that it works in dockers as they all see the GPUs the way we have things setup, but there are security concerns with that

[2022-01-03 21:57] jeinstei commented on #237
@robnagler created a new calendar (OOO) that he can share around, and I created a new script project that has been shared with the `software@radiasoft.net` group (https://script.google.com/home/projects/1VuGWXo4MGeG6v9-I6cEljbY8Tv83PSpx2QuloZlp0OOYcHvIXw5JRoAL) that is running triggers on it; it has run once to populate. The registered trigger runs every hour and lives in my account.

[2022-01-05 15:58] robnagler opened #240 "virtualbox.org is not responding"
Somebody forgot to put a redirect to:

https://www.oracle.com/virtualization/technologies/vm/downloads/virtualbox-downloads.html

We should update our documentation. Maybe want a redirect of our own, because I suspect (given this change) that they won't respect history so we don't have to update everywhere.

[2022-01-05 16:23] e-carlin commented on #240
FWIW I can get it to load but it is intermittent.

[2022-01-05 16:44] robnagler commented on #240
I imagine Oracle put it on the free tier at AWS. ;-)

[2022-01-06 16:10] robnagler opened #241 "20221015 /etc/vbox/networks.conf update required with virtualbox 6.1.30"

[2022-01-06 16:36] robnagler opened #242 "vagrant 2.2.19 nfs folders uninitialized constant error on Mac OS"
https://github.com/hashicorp/vagrant/issues/12583 refers to this patch:

[code]

[2022-01-27 15:44] #240 closed, assigned to robnagler

[2022-02-15 15:42] robnagler opened #243 "update.sh probe all servers to verify they are accessible"
Both fixes are important, because a node can be unavailable for other reasons.

https://github.com/radiasoft/rsdockerspawner/issues/31

[2022-02-16 18:00] robnagler commented on #243
Done.

[2022-02-16 18:00] #243 closed, assigned to robnagler

[2022-02-28 19:24] mkeilman opened #244 "radia_run vagrant-sirepo-dev update fails"
This is the error:

[code]

[2022-02-28 20:03] robnagler commented on #244
Caused by same thing as https://github.com/radiasoft/pykern/issues/117. I think we need to peg the setuptools.

[2022-02-28 20:04] robnagler commented on #244
You can update:

`sudo dnf -y update`

lmk if this doesn't work.

[2022-02-28 20:41] mkeilman commented on #244
(I see the pr, but I will include this as part of the record)

[code]

After that, same result and error.

[2022-02-28 23:10] robnagler commented on #244
I meant that dnf update replaces vagrant-sirepo-dev. If there are no updates from dnf, then you are up to date except for pykern and sirepo, and those are best done through git pull.

[2022-03-03 15:58] robnagler opened #245 "nersc alpha deploy failed"
nersc alpha made it most of the way and then failed with “grep: /home/vagrant/.pyenv/versions/py3/lib/python3*/site-packages/pykern-20*.dist-info/METADATA: No such file or directory
2022-03-02T23:58:13Z install_main

[2022-03-03 16:00] robnagler opened #246 "how to configure line wrapping in jupyter"
@jeinstei writes:

[2022-03-03 16:02] jeinstei commented on #246
Thanks for making the ticket

[2022-03-03 18:57] moellep commented on #245
Also failed for a beta release with the same error message.

[2022-03-11 22:52] gurhar1133 commented on #246
Hi Josh,

If you open settings > advanced editor settings and click the notebook tab you'll see something like this
![Screen Shot 2022-03-11 at 3 50 16 PM](https://user-images.githubusercontent.com/49498231/157984964-be2db97a-7bbc-4810-8934-1d9fd5586aed.png)

In the user preferences editor if you add the snippet:
[code]
Like so:
![Screen Shot 2022-03-11 at 3 48 41 PM](https://user-images.githubuse

[2022-03-11 22:52] #246 closed, assigned to gurhar1133

[2022-03-13 14:53] robnagler opened #247 "Update jupyter status to include docker container statss"
Use docker stats to show `user 111p+12g` for 111 pids and 12g data.

[2022-03-13 15:22] robnagler opened #248 "docker-prune.sh should just be run by patrol"
could prune daily but easier when disk space is full

[2022-03-16 15:15] e-carlin opened #249 "github_bkp.service loaded failed failed github_bkp"
Logs on machine where backup ran say `ERROR: Command errored out with exit status 128: git clone -q git://github.com/radiasoft/pykern /tmp/pip-install-9ljzmuj5/pykern_69e3669e19974699bf767fc91b4\
c8e87 Check the logs for full command output`

First line of github_bkp is `pip --quiet --disable-pip-version-check install 'git+git://github.com/radiasoft/pykern#egg=pykern'` this failed for me when I tr

[2022-03-16 15:39] e-carlin commented on #249
I ran `systemctl reset-failed` on the affected host. I think with the fix to rsconf and this github_bkp should start working again.

[2022-03-16 19:17] #249 closed, assigned to e-carlin

[2022-03-16 19:19] robnagler commented on #249
To run rsconf on the affected machine

[2022-03-24 20:44] e-carlin opened #250 "use "distribution server" for mpi workers"
Have a single server that is in control of .rsmpi file so workers nodes don't all require a reboot on change.

I don't exactly understand the problem but that is as best as I can describe it right now. I'll update the issue as I more fully understand the problem. First step in solving is getting a dev rsconf rsmpi configuration up and running.

[2022-03-24 21:03] e-carlin opened #251 "make shell for exploration when building rpm-code"
Frequently I do this while working on getting an rpm-code build:
1. add a `sleep 99999999999999999999` somewhere in the build right before a step that is failing
2. docker exec into the build container
3. run whatever bits of code.sh I need to get enough of an environment setup to run commands to troubleshoot the problem
4. use some combination of docker tramp and copying files to edit files

What

[2022-03-24 22:19] robnagler commented on #250
See https://github.com/radiasoft/rsconf/issues/172. Probably just close this one?

[2022-03-24 22:20] e-carlin commented on #250
dup

[2022-03-24 22:20] #250 closed, assigned to e-carlin

[2022-03-24 22:21] robnagler commented on #251
I think we should control with an environ var, since we already have build_debug. Maybe build_interactive, or we could change the meaning of build_debug (which perhaps this mode would eliminate).

[2022-03-25 15:40] robnagler opened #252 "Automate test suite runs on PRs"
We pay for github actions so let's use them:

- https://docs.github.com/en/actions/learn-github-actions
- https://docs.github.com/en/actions/automating-builds-and-tests/about-continuous-integration
- https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions
- https://github.com/actions/starter-workflows/blob/main/ci/python-app.yml

Considerations:
- Look at how

[2022-03-25 21:32] robnagler opened #253 "Debug async tester on alpha"
We can try to do this together. You could also assign parts to other people.

[2022-03-31 19:30] e-carlin opened #254 "patrol: github_bkp: no updates to project-management issues in 7 days"

[2022-04-08 15:50] e-carlin opened #255 "setup gpu server for ndviz"
We need a server with a gpu for the ndviz project. At the start the gpu doesn't need to be very powerful. Just enough to run the system and view simple data. Can we use our internal gpu server or create one (ex on AWS)? @robnagler please advise.

[2022-04-08 15:51] e-carlin commented on #255
I think our internal server will work in terms of CUDA versions.

[2022-04-08 19:01] robnagler commented on #255
This is up to you. I think you should be the only one to use it for development. If you want to deploy something, we should just get a server in the cloud. This time I might want to try Azure or Linode.

[2022-04-09 16:58] robnagler opened #256 "DC migration"
- [ ] purchase hard foam (not styrofoam) for servers
- [ ] blankets
- [ ] verify lift dollies (confirmed BKF and probably at FNL)
- [ ] named edits
- [ ] rsconf edits

[2022-04-11 14:52] robnagler opened #257 "DC migration: nameserver & rsconf plan"
Prepare a branch with the name server configuration required for migrating. Also prepare a script to update all hosts and shut them down in the right order.

[2022-04-11 15:57] robnagler opened #259 "DC migration: enet switches and shelf"
The fast boxes (fnl225-227) connect over the external 10gbe on the MXL so we only need a 1gbe switch for the backnet. I think we might have another port or two so we can connect the new jump host there. The jump host only needs to be on the management net, which is currently a 1gbe which is sufficient. We can just migrate the physical 1gbe.

The new inet will be a 1gbe drop. We could get higher sp

[2022-04-11 16:02] robnagler opened #260 "DC migration: rack configuration plan and order power cables"
Need to layout the rack. I think putting the GPU server on the bottom makes most sense. The two 2U servers could go up top right next to the network. Typically they drop power up top, but they might drop on the bottom, and then, we should reverse the order of the servers. I'll have more data today. Come up with a written plan. We'll know if we have C13 or C19 jacks on the PDUs. The cables we have

[2022-04-11 16:10] robnagler opened #261 "DC migration: foam, sheets, and straps"
We need heavy foam maybe [like this](https://smile.amazon.com/dp/B01H2QS4N4) for the move. The foam should be a bit bigger than the big units, which we are going to try to move with blades in place. Plan B will moving with the blades separately. The foam should fit on the lift dolly. The foam probably doesn't have to be antistatic, because it will be touching the chassis only. We can kit it out wi

[2022-04-11 16:49] robnagler commented on #260
Docs received on PDUs. They have horizontal and vertical. If we go with vertical, we'll need 3 on each side as we are getting 6 drops. The spacing of the jacks is key. The three m1000e's need to together with the currently 40gbe cabling so we should keep them that way. However, we could put the 2U servers on the bottom. The biggest problem may be the height of the lift dolly (I'll ask).
* [pdu-con

[2022-04-11 20:42] robnagler commented on #257
The plan shouldn't be uploaded here (too public).

The trusted networks will need to be updated to include the BKF IPs on all hosts, not just at FNL, because the FNL hosts the rsconf and backup servers, which needs to get at all hosts.

[2022-04-12 17:31] e-carlin commented on #255
Ok, I will use our internal server for the time being.

[2022-04-12 17:31] #255 closed, assigned to robnagler, e-carlin

[2022-04-12 19:37] e-carlin commented on #254
haven't seen it since

[2022-04-12 19:37] #254 closed, assigned to e-carlin

[2022-04-14 17:04] robnagler commented on #257
When the IP addresses change, the ssh/known_hosts may need to change on public hosts, because there are IP addresses in those records. KnownHosts.txt (in private devops) should be updated.

[2022-04-14 22:17] e-carlin commented on #261
Each M1000 weighs about 300lbs. Do you think just wrangling by hand with dollies will work? What if I built a little pallet like the image below and we ran straps around so we could more easily lift them and tie them down in the back of cars?

![IMG-2601](https://user-images.githubusercontent.com/10264515/163473192-d868be88-409f-46ba-ad13-980e1c1d66b2.jpg)

[2022-04-14 22:21] e-carlin commented on #260
I'm creating an [inventory](https://docs.google.com/spreadsheets/d/1ApFuw1nvDTkVeSbrsTOmjfBjbs2ohEH7O4aRm5XVseY/edit?usp=sharing) of the components in the cabinet currently. I think I have the main machines down. But, I don't know about network switches and any other devices that are there. @robnagler is there somewhere where you have this information stored?

[2022-04-15 17:17] e-carlin commented on #261
I've been thinking about this more. Last time we installed one of these we couldn't lift it from the (broken) pallet onto the dolly without pulling all of the blades. How many people are going to be doing the move? If it is 4 people that are comfortable lifiting that much then I think it will be ok. Otherwise we should plan on removing the blades, taking the chassis and blades separate out to the

[2022-04-15 19:34] robnagler commented on #260
If you share the inventory with me, I can add it.

[2022-04-15 19:36] e-carlin commented on #260
Sorry, done.

[2022-04-15 19:37] robnagler commented on #261
We have [hydraulic lift tables](https://www.jegs.com/i/JEGS/555/81454/10002/-1) so we just need to be able to slide it on top of something and then slide it onto the bed of our cars. Plan B is to remove the m620s from the chassis. If the cars have tie downs, which I believe they do, then we should be fine with just resting on foam, not a pallet. Indeed, it might be that we can slide the m1000s on

[2022-04-16 14:34] robnagler commented on #259
Since we have more room, I think we should put in two shelves, and not have a long shelf. The top shelf could be the top-of-rack switch and the jump host. The next shelf could be the management network. We can move the management network shelf from FNL. No need to buy another, since they are easy to install.

[2022-04-16 15:57] robnagler opened #262 "dc migration: yum update hosts"
We should yum update the worker nodes at least before shutdown. We can write a script for the shutdown which yum updates first. We might as well refresh all https://github.com/biviosoftware/devops/issues/430. We should do alpha and beta on Fri to make sure there are no issues with the current updates. I can help with the scripting.

[2022-04-18 14:57] e-carlin opened #263 "Increase disk size"
@jeinstei has requested a disk size of 500GB+

Here is what we have currently on the machine
[code]

This is my first time increasing the size of available disk so @robnagler please confirm this looks right:
[code]

[2022-04-18 14:59] robnagler commented on #257
I forgot to mention host name changes. This is quite complex to do. Should we rename from fnl to bkf or maybe then den? If we migrate data centers again, will it be new hardware, which makes renaming easy, or will it be a renaming again? Ie. is this a one time renaming?

[2022-04-18 16:18] robnagler commented on #263
rsconf does everything:

[code]

Just change 100 to 500, run.sh, then run rsc on the machine.

[2022-04-18 16:28] e-carlin commented on #261
@robnagler [here is the plan](https://docs.google.com/document/d/1Tve6Fy62w83w5USWNUbcrw-HCDo4GtMj8uVUom_2sR4/edit). You can leave comments there and I will address

[2022-04-18 16:34] e-carlin commented on #263
doh, thanks.

[2022-04-18 16:34] #263 closed, assigned to robnagler, e-carlin

[2022-04-18 18:18] robnagler commented on #261
I modified the plan. I wrote up [the cable inventory at FNL this weekend](https://docs.google.com/document/d/1tOOOLi2S9sDpb_WuGN_J5M5dZrBLU-8A_8R3aM5D-iQ/edit?usp=sharing).

[2022-04-18 22:01] robnagler commented on #241
This works:

[code]

There are various discussions about `v.gui`, but I think this is a red herring. I tried that, and it didn't change anything.

[2022-04-18 22:01] robnagler commented on #241
Still needs to be automated.

[2022-04-18 22:27] robnagler opened #264 "VBox guest additions don't work"
I have stopped using guest additions. I add this to my Vagrantfile manually:

[code]

This should be automated.

[2022-04-19 02:24] robnagler commented on #260
Let's call cabinet A the one with the Internet drop, the 110v, and one 208v. Cabinet B just has the other 208v.

We probably aren't going to add more m1000e's.

I suggest to put the first two m1000e's (241, 242) in B towards the top, especially since they'll be empty when loading. The switches and 2/1u servers will go in the rack stacking from the bottom. We may get more of either. The m1000 (curr

[2022-04-19 18:47] robnagler commented on #260
From BKF:

[2022-04-19 18:52] robnagler commented on #257
Host names are currently bivio.biz. If we are changing them to bkfN, then we might consider changing them to bkfN.radiasomething. We need a wildcard certificate for all the hosts. We own radiasoft.org so could use that, but the is rather long so will clutter config. Could buy *.rsft.us.

We will still run the name servers as bivio.biz and they'll stay that way, since that would be a big registrar

[2022-04-19 19:15] moellep opened #265 "pykern wheel build fails on sirepo alpha build"
When building sirepo alpha, this error message is shown, and then ignored?
[code]

[2022-04-19 22:21] robnagler commented on #265
setuptools 59.8.0 is being installed by something after pykern was install beamsim (common). Need to figure out what.

Also there's a shadowoui issue which may be irrelevant

google-auth conflict on cachetools.

[code]

[2022-04-19 22:29] robnagler commented on #265
rscode-bluesky is forcing the upgrade

[2022-04-19 23:09] robnagler commented on #265
rebuilt bluesky in dev and it didn't have setuptools so probably just an old version.

[2022-04-19 23:09] #265 closed, assigned to robnagler

[2022-04-20 15:55] e-carlin commented on #259
Another shelf and another gs108 switch was purchased.

[2022-04-20 15:55] e-carlin commented on #260
Power cables have been ordered. Starting layout now.

[2022-04-20 16:42] e-carlin commented on #260
These racks are 47U in total. The bottom 3U are reserved for their use.
That leaves 44U for us. We will call the bottom RU4 and the top RU47.

We have two cabinets. CabinetA contains the internet drop. CabinetB is
to the right cabinetA.

All directions are stated from the viewers perspective of standing the
the hallway looking at the back of the rack. So, if cabinetB is North
of cabinetA and the v

[2022-04-20 19:31] robnagler commented on #260
We will need the horizontal 1u PDU ("power strip") that provides redundancy to the non-redundant 120v (not 110v, btw) devices.

The right cabinet (B) should have the internet drop and the 120v so flip the layout. The slight reason for this is that 243 has only one switch which is on the left so the QSFP+ loop between cabinets is closer on the left.

If we get another server, it is likely to be a d

[2022-04-21 22:55] robnagler commented on #262
Too many changes so we won't do this.

[2022-04-21 22:55] #262 closed, assigned to robnagler, e-carlin

[2022-04-21 23:15] #259 closed, assigned to e-carlin

[2022-04-24 21:13] #261 closed, assigned to e-carlin

[2022-04-24 21:16] #257 closed, assigned to e-carlin

[2022-04-24 21:23] robnagler commented on #244
Fixed, not sure when...

[2022-04-24 21:23] #244 closed, assigned to nobody

[2022-05-03 20:06] robnagler opened #266 "Create a half hour tutorial on github workflow"
The scientists are going to use issues and PRs to manage repos that are used by Sirepo. Create a tutorial on the simple workflow. It could be a Wiki page accompanied by a slide show or perhaps a live demo or all of the above. I think having a Wiki would be good. There are wikis about GitHub already. Create the wiki here. We can discuss the budget, but something like a half day would be fine.

[2022-05-13 19:09] robnagler commented on #266
https://github.com/radiasoft/devops/wiki/GitHub-Workflow

[2022-05-13 19:09] #266 closed, assigned to rorour

[2022-05-14 15:47] robnagler opened #267 "Update tls certs"

[2022-05-19 00:11] robnagler opened #268 "Convey URLs to Mac Mini in conference room"
We can drop files on the Mac Mini via Air Drop (which works only for Macs). However, we can't convey URLs easily. If you want to join an MS teams meeting, how do you do it? You need a way to put in a URL. Easiest way may be to run a small web server that accepts files and/or URLs and does something smart with them (starts preview, teams, zoom, etc.).

Google Docs could be handled by sharing with a

[2022-05-20 16:02] robnagler commented on #268
@gurhar1133 @rorour I would like you to work together on this project. It will help you get familiarized with React and Tornado.

@rorour I would like to extract some of the Sirepo libraries in such a way that we can use them for this project. I would like it copied into Pykern, because I don't like lots of little repos. (@radiasoft/software please discuss :) Particularly, I would like people to b

[2022-05-20 16:36] e-carlin commented on #268
I'm sure you've thought about this more than I have so I'm hesitant to say anything. But here it goes: what about putting a hub behind the tv with the hdmi, camera, and mic all connected to it? We then run a wire from the hub to the conference table. Someone in the meeting plugs their computer into the hub and joins the call. We get access to the tv, camera, and mic and it all works in a way peopl

[2022-05-20 17:34] robnagler commented on #268
Maximum cable length on USB-c is 9ft. A longer cable might work, but there's a lot data going over that wire at 4k bidirectional.

You are certainly welcome to try it. Indeed, you are welcome to take over the project while still doing your other tasks. :)

You'll need a bluetooth usb adapter for the Jabra. You could use a Logitech/Microsoft for the mouse/keyboard.

[2022-05-20 18:30] robnagler commented on #268
@gurhar1133 @rorour let's wait on this.

[2022-05-20 19:57] robnagler opened #269 "vscode instructions"
[code]

I think this should not be v.radia.run but be "vscode-ssh" and set HostName to v.radia.run. My concern is that there's hardwired config (Port 2222) which will break on machines with more than one VM.

[2022-05-20 20:13] rorour commented on #252
@robnagler just opened a pr. Doesn't seem like it linked correctly... https://github.com/radiasoft/pykern/pull/181

[2022-05-20 20:26] e-carlin commented on #268
Ok, I'll do a little research and try next week.

[2022-05-21 22:59] robnagler commented on #252
I know we can get github actions to work, but it is work, e.g.

[2022-05-24 13:27] #252 closed, assigned to rorour

[2022-05-24 15:43] robnagler commented on #267
All current.

[2022-05-24 15:43] #267 closed, assigned to nobody

[2022-05-27 22:25] robnagler commented on #268
Current solution is fine.

[2022-05-27 22:25] #268 closed, assigned to nobody

[2022-06-01 19:22] mkilpatr opened #270 "libboost not found in Sirepo or GPU Jupyter"
Cannot locate the libboost_python37.so.1.68.0 in Sirepo jupyter or GPU jupyter. I have added the LD_LIBRARY_PATH that points to this file, but it is not found. I've attached the smallest example of the code that produces the error along with the error from jupyter.;

import os, io, sys
sys.path.append("/home/vagrant/.pyenv/versions/3.7.2/envs/py3/lib/python3.7/site-packages/")
os.environ['LD_LIBRA

[2022-06-03 20:58] e-carlin commented on #270
@mkilpatr unfortunately pyopenvdb is hard to use and you’re bumping up against this. Here’s what’s going on:

When pyopenvdb is installed it brings in the pyopenvdb.so (and other so’s). That file needs to exist for everything to work. But, this file is installed in /home/vagrant/.pyenv/versions/3.7.2/envs/py3/lib/python3.7/site-packages/ which is not somewhere on LD_LIBRARY_PATH. So, they tell you

[2022-06-03 21:01] mkilpatr commented on #270
Thank you @e-carlin. I was able to get a small work around. I added a preprocessing step to use the voxel code (which requires the pyopenvdb.so packages) to generate the np_grid and save it as a csv file. I now can use a jupyter notebook with the other data packages to import, clean, and run ML methods.

This seems to be ok for now. It is just another separate step in an evolving framework.

[2022-06-04 19:54] robnagler commented on #270
We could build a pyopenvdb installer. I assume it is small.

[2022-06-15 23:05] robnagler opened #271 "How to upgrade Fedora wiki"
Set environment vars, edit rpm-code, setup vagrant server

[2022-07-08 21:37] robnagler commented on #188
I think this is fixed.

[2022-07-08 21:37] #188 closed

[2022-07-18 21:58] robnagler opened #272 "ubuntu vagrant: libvirt is blocking ports"
Need to figure out what is blocking the ports and how to unblock so can share the same namespace.

[2022-08-22 01:14] robnagler opened #273 "fedora 32 doesn't allow fedora 36 docker images to run"
https://medium.com/nttlabs/ubuntu-21-10-and-fedora-35-do-not-work-on-docker-20-10-9-1cd439d9921

This took a while to figure out. I can build on centos7

[2022-08-22 01:20] #273 closed, assigned to nobody

[2022-08-30 22:23] robnagler commented on #272
This was firewalld.

[2022-08-30 22:23] #272 closed, assigned to nobody

[2022-09-06 17:36] robnagler opened #274 "20221130 How to write wiki pages"
This is mostly for developers. An example of edits that make a difference when working in a text editor:

[code]

Notes:
- make sure images are in the repo itself (important for backups and editing)
- make sure "fences" have labels (sh, text, ruby, etc)
- include links to other pages that are relevant
- avoid long lines

[2022-09-07 22:55] moellep opened #275 "test.sh doesn't work on devbox"
Running test.sh on devbox fails with missing components and karma/jasmine.

[2022-09-07 22:59] robnagler commented on #275
duplicate

[2022-09-07 22:59] #275 closed, assigned to nobody

[2022-09-08 20:26] e-carlin opened #276 "502 bad gateway errors when opening file in jupyterlab"
nginx access log:
[code]

nginx error log:
[code]

My best guess is that this is uwsgi closing the connection because of a timeout (~2mins, all nginx timeouts are 5mins). The file trying to be opened in jupyterlab is 714mb.

[2022-10-17 21:31] robnagler commented on #241
Fix https://github.com/radiasoft/download/issues/337

[2022-10-17 21:31] #241 closed, assigned to robnagler

[2022-10-17 23:16] e-carlin commented on #241
@robnagler I have the fix but I'm still unable to connect to a server running in fedora36. Are you able to connect?